// Alerts -----------------------------
inf             = #40c4ff
att             = #ffd740
crit            = #ff5252
alert-colors    = 'inf' 'att' 'crit'
er(c)
  tint(c, 30%)
er-text(c)
  shade(c, 70%)
er-dark(c)
  shade(saturate(c, -25%), 70%)
er-text-dark(c)
  tint(saturate(c, -10%), 65%)
// Events -----------------------------
event-crimson   = #b71c1c   // computers, tech
event-red       = #e53935   // holidays
event-orange    = #fb8c00   // movie
event-yellow    = #fbc02d   // health, fitness
event-lime      = #7cb342   // history
event-green     = #4caf50   // esl
event-teal      = #26a69a   // book club
event-cyan      = #00bcd4   // arts and culture
event-blue      = #5587da   // gaming
event-purple    = #9575cd   // storytime
event-pink      = #f06292   // craft
event-grey      = #616161   // board meeting, lecture, community organization
event-colors    = 'crimson' 'red' 'orange' 'yellow' 'lime' 'green' 'teal' 'cyan' 'blue' 'purple' 'pink' 'grey'
ev(c)
  c
ev-alt(c)
  tint(c, 60%)
ev-hover(c)
  tint(saturate(c, 70%), 30%)
ev-text(c)
  shade(saturate(c, 300%), 70%)
ev-dark(c)
  shade(c, 20%)
ev-alt-dark(c)
  shade(saturate(c, -50%), 70%)
ev-hover-dark(c)
  shade(saturate(c, 40%), 40%)
ev-text-dark(c)
  tint(saturate(c, -25%), 60%)
// Fixed ------------------------------
fixed-accent-lite             = #347cf4
fixed-accent-slite            = #1f6bdb
fixed-accent                  = #0a4dbc
fixed-accent-dark             = #022295
fixed-lite                    = #ffffff
fixed-transparent             = alpha(fixed-lite, 0.85)
fixed-neutral                 = #565656
fixed-neutral-transparent     = alpha(fixed-neutral, 0.3)
fixed-neutral-dark            = #262626
fixed-dark                    = #000000
// Variable ---------------------------
:root
  &[color-mode="lite"]
    --accent-lite             fixed-accent-lite 
    --accent-slite            fixed-accent-slite 
    --accent                  fixed-accent      
    --accent-dark             fixed-accent-dark 
    --lite                    fixed-lite
    --transparent             fixed-transparent
    --neutral                 fixed-neutral
    --neutral-transparent     fixed-neutral-transparent
    --neutral-dark            fixed-neutral-dark
    --dark                    fixed-dark
    --map                     none
    for col, i in alert-colors
      --er-{col} er(lookup(col))
      --er-alt-{col} er-alt(lookup(col))
      --er-text-{col} er-text(lookup(col))
    for col, i in event-colors
      --ev-{col} ev(lookup('event-'+col))
      --ev-alt-{col} ev-alt(lookup('event-'+col))
      --ev-hover-{col} ev-hover(lookup('event-'+col))
      --ev-text-{col} ev-text(lookup('event-'+col))
      --ev-cover-{col} rgba(ev(lookup('event-'+col)), 0.6)
  &[color-mode="dark"]
    --accent-lite           #4eb8ff
    --accent-slite          #0099ff
    --accent                #0099ff
    --accent-dark           #6888fd
    --lite                  #141414
    --transparent           alpha(#141414, 0.92)
    --neutral               #9F9F9F
    --neutral-transparent   alpha(#9F9F9F, 0.3)
    --neutral-dark          #262626
    --dark                  #f0f0f0
    --map                   invert(97%) hue-rotate(180deg)
  for col, i in alert-colors
    --er-{col} er-dark(lookup(col))
    --er-alt-{col} er-alt-dark(lookup(col))
    --er-text-{col} er-text-dark(lookup(col))
  for col, i in event-colors
    --ev-{col} ev-dark(lookup('event-'+col))
    --ev-alt-{col} ev-alt-dark(lookup('event-'+col))
    --ev-hover-{col} ev-hover-dark(lookup('event-'+col))
    --ev-text-{col} ev-text-dark(lookup('event-'+col))
    --ev-cover-{col} rgba(ev-dark(lookup('event-'+col)), 0.6)
// Shortcuts ---------------------------
accent-lite         = var(--accent-lite)
accent-slite        = var(--accent-slite)
accent              = var(--accent)
accent-dark         = var(--accent-dark)
lite                = var(--lite)
lite-transparent    = var(--transparent)
neutral             = var(--neutral)
neutral-transparent = var(--neutral-transparent)
neutral-dark        = var(--neutral-dark)
dark                = var(--dark)