// Fixed ------------------------------
nav-main                    = #fff8e3d9
nav-mainB                   = #fff8e333
dropdowns                   = #2e0405
foot-main                   = #fff8e3
foot-mainA                  = #fff8e3cc
foot-mainB                  = #fff8e3d9
foot-mainC                  = #fff8e388
foot-mainD                  = #fff8e344
// Alerts -----------------------------
inf                         = #5db0e1
att                         = #fde74c
crit                        = #fe654f
alert-colors                = 'inf' 'att' 'crit'
er(c)
    tint(c, 30%)
er-alt(c)
    tint(c, 10%)
er-text(c)
    shade(c, 70%)
er-dark(c)
    shade(c, 90%)
er-alt-dark(c)
    shade(saturate(c, -40%), 50%)
er-text-dark(c)
    tint(saturate(c, -25%), 60%)
// Events -----------------------------
event-red                   = #f50000
event-orange                = #f57c00
event-yellow                = #fbC02d
event-green                 = #6ab046
event-blue                  = #5db0e1
event-purple                = #b176e8
event-pink                  = #e15dc9
event-gray                  = #6a6a6a
event-colors                = 'red' 'orange' 'yellow' 'green' 'blue' 'purple' 'pink' 'gray'
ev(c)
    tint(c, 60%)
ev-alt(c)
    tint(c, 40%)
ev-hover(c)
    tint(saturate(c, 300%), 40%)
ev-text(c)
    shade(saturate(c, 300%), 70%)
ev-dark(c)
    shade(c, 90%)
ev-alt-dark(c)
    shade(saturate(c, -50%), 70%)
ev-hover-dark(c)
    shade(saturate(c, 300%), 60%)
ev-text-dark(c)
    tint(saturate(c, -25%), 60%)
// Variable ---------------------------
:root
    &[color-mode="lite"]
        --main                  #fff8e3
        --main2                 #e3dcc7
        --alt                   #4b0c10
        --alt2                  #4b0c1055
        --alt3                  #4b0c1000
        --alt-lighten           #7a181f
        --main-text             #000000
        --main-textA            #000000dd
        --main-textB            #000000bb
        --main-textC            #000000aa
        --main-textD            #00000077
        --alt-text              #ffffff
        --link-text:            lt = #1f53a6
        --link-text-hover       shade(lt, 15%)
        --event-zoom:           zl = #1f53a6
        --event-zoom-hover      tint(saturate(zl, 50%), 15%)
        --border-c              #4b0c10dd
        --border-c2             #4b0c10dd
        --header-footer         #4b0c10
        --map                   unset
        for col, i in alert-colors
            --er-{col} er(lookup(col))
            --er-alt-{col} er-alt(lookup(col))
            --er-text-{col} er-text(lookup(col))
        for col, i in event-colors
            --ev-{col} ev(lookup('event-'+col))
            --ev-alt-{col} ev-alt(lookup('event-'+col))
            --ev-hover-{col} ev-hover(lookup('event-'+col))
            --ev-text-{col} ev-text(lookup('event-'+col))
            --ev-cover-{col} rgba(ev(lookup('event-'+col)), 0.6)
    &[color-mode="dark"]
        --main                  #101010
        --main2                 #101010
        --alt                   #d9c584
        --alt2                  #d9c58455
        --alt3                  #d9c58400
        --alt-lighten           #ab985b
        --main-text             #fffbec
        --main-textA            #fffbecdd
        --main-textB            #fffbecbb
        --main-textC            #fffbecaa
        --main-textD            #fffbec77
        --alt-text              #000000
        --link-text:            ltd = #00b8d4
        --link-text-hover       tint(ltd, 50%)
        --event-zoom:           zld = #00b8d4
        --event-zoom-hover      tint(saturate(zld, 150%), 15%)
        --border-c              #323232
        --border-c2             invert(#323232)
        --header-footer         #35080b
        --map                   invert(95%) hue-rotate(180deg)
        for col, i in alert-colors
            --er-{col} er-dark(lookup(col))
            --er-alt-{col} er-alt-dark(lookup(col))
            --er-text-{col} er-text-dark(lookup(col))
        for col, i in event-colors
            --ev-{col} ev-dark(lookup('event-'+col))
            --ev-alt-{col} ev-alt-dark(lookup('event-'+col))
            --ev-hover-{col} ev-hover-dark(lookup('event-'+col))
            --ev-text-{col} ev-text-dark(lookup('event-'+col))
            --ev-cover-{col} rgba(ev-dark(lookup('event-'+col)), 0.6)