load-font(name, file, w=normal, st=normal)
  @font-face
    font-family name
    font-style st
    font-weight w
    src url("../fonts/" + file + ".woff2")
    font-display swap

load-font("Lexend", "lexend")
load-font("Lexend", "lexend_bold", bold)
load-font("Lexend Mega", "lexend-mega_bold", bold)

lexend(sz, c=black, w=normal, st=normal)
  font sz "Lexend", system-ui, sans-serif
  color c
  font-weight w
  letter-spacing -0.045em
lexend-mega(sz, c=black, w=bold, st=normal)
  font sz "Lexend Mega", system-ui, sans-serif
  color c
  font-weight w
  letter-spacing -0.16em