load-font(name, file, w=normal, st=normal)
    @font-face
        font-family name
        font-style st
        font-weight w
        src url("../fonts/" + file + ".woff2")
        font-display swap

load-font("Lexend Mega", "lexend-mega")
load-font("Lexend Mega", "lexend-mega_bold", bold)
load-font("Minion Pro", "minion-pro")
load-font("Minion Pro", "minion-pro_bold", bold)
load-font("Perpetua", "perpetua")
load-font("Perpetua", "perpetua_bold", bold)
load-font("Perpetua", "perpetua_italic",, italic)
load-font("Perpetua", "perpetua_bold-italic", bold, italic)
load-font("Lato", "lato",)
load-font("Lato", "lato_bold", bold)

lexend(sz, c=black, w=bold)
    font sz "Lexend Mega", Arial, sans-serif
    text-transform uppercase
    color c
    font-weight w
    /**/
minion(sz, c=black, w=normal)
    font sz "Minion Pro", serif
    color c
    font-weight w
    line-height sz
perpetua(sz, c=black, w=normal, st=normal, h=1.1)
    font sz "Perpetua", serif
    color c
    font-weight w
    font-style st
    line-height sz*h
lato(sz, c=black, w=normal)
    font sz "Lato", Arial, sans-serif
    color c
    font-weight w