// Structure
flex(dir=row, wrapping=nowrap, align=center, x-align=stretch, gap=0)
  display flex
  flex-flow dir wrapping
  justify-content align
  align-items x-align
  gap gap

// Motion
cube-out = cubic-bezier(0.33, 1, 0.68, 1)