meta(charset="UTF-8")
meta(name="viewport", content="width=device-width, initial-scale=1.0")
link#fav-light(rel="icon" href="/img/favicon/light.png" type="image/png")
link#fav-dark(rel="icon" href="/img/favicon/dark.png" type="image/png")
link(rel="stylesheet", href="/stylus/main.styl")
script if (/*@cc_on!@*/false || !!document.documentMode) window.location.href = '/update.html';
script(src="/js/main.js")