//-.advert
    a.advert-img(href=`url:./img/adverts/test.png` target="_blank")
        img.advert-img-inner(src=`url:./img/adverts/test.png?as=webp` alt=`` type="image/webp")
    .advert-tag Advertisement