.alert-info
    .alert-info-logo: include ../img/icons/info.svg
    .alert-info-text
        .alert-info-title Attention
        .alert-info-desc Welcome to Raritan Public Library's new website. While we have designed this website with the needs of our patrons in mind, you may have questions for us. Please read our #[a.alert-info-link(href="/news#4") news article] or contact our website administrator at #[a.alert-info-link(href="mailto:raritanlibrary54@aol.com") raritanlibrary54@aol.com] for more information.

//- .alert-attention
    .alert-attention-logo: include ../img/icons/alert.svg
    .alert-attention-text
        .alert-attention-title Attention
        .alert-attention-desc This is simply some sample text. This can be changed to anything we see fit based on information, alerts, or items that need attention.

//- .alert-critical
    .alert-critical-logo: include ../img/icons/alert.svg
    .alert-critical-text
        .alert-critical-title Attention
        .alert-critical-desc This is simply some sample text. This can be changed to anything we see fit based on information, alerts, or items that need attention.