//-+alert("crit")
    span The Raritan Public Library is currently <b>closed to the public until further notice</b>.
//-+alert("att")
    span Raritan Public Library will be closed on <b>Tuesday, February 13th</b> due to <b>inclement weather</b>.