+alert("info")(data-expires="17133412800000")
    span Welcome to Raritan Public Library's new website!
//-+alert("att")
    span Raritan Public Library will be closed on <b>Tuesday, February 13th</b> due to <b>inclement weather</b>.