+alert("att")(data-expires="1714831200000")
    span The Raritan Public Library will open at 10 AM from <b>Thursday, April 25th</b> through <b>Saturday, May 4th</b>.
//-+alert("att")(data-expires="1714831200000")
    span Raritan Public Library will be closed on <b>Tuesday, February 13th</b> due to <b>inclement weather</b>.