+alert("info")
    span Welcome to Raritan Public Library's new website!
    br
    span This is a test build. Deployed at #{new Date().toLocaleString()}.
//-+alert("att")
    span Raritan Public Library will be closed on <b>Tuesday, February 13th</b> due to <b>inclement weather</b>.