//- .alert-info
    .alert-info-logo: include ../img/icons/info.svg
    .alert-info-text
        .alert-info-title Attention
        .alert-info-desc The Raritan Public Library has posted it's annual Audit Report for 2020 with the recommendations required by N.J.S.A. 40A:5-7. It will be available on our website under the "More" tab until November 5th, 2021.

//- .alert-attention
    .alert-attention-logo: include ../img/icons/alert.svg
    .alert-attention-text
        .alert-attention-title Attention
        .alert-attention-desc This is simply some sample text. This can be changed to anything we see fit based on information, alerts, or items that need attention.

.alert-critical
    .alert-critical-logo: include ../img/icons/alert.svg
    .alert-critical-text
        .alert-critical-title Covid-19 Alert
        .alert-critical-desc Due to the increase in COVID-19 cases in Somerset County, Raritan Public Library will be holding all events for the month of January virtually over #[a.link(href="https://zoom.us/") Zoom]. Please continue to check our website for updates pertaining to future events. If you have any questions or concerns, please contact the Library by phone at #[b (908) 725-0413] or by email at #[a.link(href="mailto:raritanl@yahoo.com") raritanl@yahoo.com].