footer.footer
    .socials
        a.socials-link(href="https://www.facebook.com/raritanpubliclibrarynj" target="_blank")
            span.sr Raritan Public Library Facebook
            include /img/icons/facebook.svg
        a.socials-link(href="https://www.instagram.com/raritanpubliclibrary/" target="_blank")
            span.sr Raritan Public Library Instagram
            include /img/icons/instagram.svg
        a.socials-link(href="https://twitter.com/raritanlibrary" target="_blank")
            span.sr Raritan Public Library Twitter
            include /img/icons/twitter.svg
    .footer-responsive
        .hours-footer
            p.hours-footer-main 
            p.hours-footer-other
        hr.hr-footer
    p.copyright © #{new Date().getFullYear()} Raritan Public Library