footer.footer
    .footer-socials
        a.footer-socials-link(href="https://www.facebook.com/raritanpubliclibrarynj" target="_blank" rel="noopener" aria-label="Raritan Public Library Facebook")
            include ../img/icons/facebook.svg
        a.footer-socials-link(href="https://www.instagram.com/raritanpubliclibrary/" target="_blank" rel="noopener" aria-label="Raritan Public Library Instagram")
            include ../img/icons/instagram.svg
        //-a.footer-socials-link(href="https://twitter.com/raritanlibrary" target="_blank" rel="noopener" aria-label="Raritan Public Library Twitter")
            include ../img/icons/twitter.svg
    .footer-info
        .footer-contact
            h2 Contact
            p #[b L] 54 E Somerset St., Raritan, NJ 08869
            p #[b E] info@raritanlibrary.org
            p #[b P] (908) 725-0413 
            p #[b F] (908) 725-1832
        .footer-hours
            h2 Hours
            p #[b Monday]       #[span 9 AM - 8 PM]
            p #[b Tuesday]      #[span 9 AM - 8 PM]
            p #[b Wednesday]    #[span 9 AM - 8 PM]
            p #[b Thursday]     #[span 9 AM - 8 PM]
            p #[b Friday]       #[span 9 AM - 5 PM]
            p #[b Saturday]     #[span 9 AM - 2 PM]
            p #[b Sunday]       #[span CLOSED]
    .footer-dev
        p.copyright © #{new Date().getFullYear()} Raritan Public Library
        p.version#git