footer.footer
    .socials
        a.socials-link(href="https://www.facebook.com/raritanpubliclibrarynj" target="_blank" rel="noopener" aria-label="Raritan Public Library Facebook")
            include ../img/icons/facebook.svg
        a.socials-link(href="https://www.instagram.com/raritanpubliclibrary/" target="_blank" rel="noopener" aria-label="Raritan Public Library Instagram")
            include ../img/icons/instagram.svg
        a.socials-link(href="https://twitter.com/raritanlibrary" target="_blank" rel="noopener" aria-label="Raritan Public Library Twitter")
            include ../img/icons/twitter.svg
    .footer-responsive
        .hours-footer
            p.hours-footer-main#hours-footer-main
            p.hours-footer-other#hours-footer-other
        hr.hr-footer
    p.copyright © #{new Date().getFullYear()} Raritan Public Library
    p.version#git