header.nav
    a.logo(href="/") Raritan Public Library
    a.logo-alt(href="/") #[span.logo-alt-large Raritan] Public Library
    div.nav-toggle#nav-toggle
        include ../img/icons/list.svg
    ul.links#links
        li.links-item: a(href="http://catalog.raritanlibrary.org/" target="_blank" rel="noopener") Catalog
        li.links-item: a(href="/events") Event Calendar
        li.links-item: a(href="/resources") eBooks &amp; Digital
        //-li.links-item: a(href="/passes") Museum Passes
        li.links-item: a(href="https://www.digifind-it.com/raritan" target="_blank" rel="noopener") Raritan Valley News
        li.links-item-hidden: a(href="/history") Library History
        li.links-item-hidden: a(href="http://www.raritan-online.com/jb-online-menu.htm" target="_blank" rel="noopener") Basilone Archives
        li.links-item-hidden: a(href="/jobs") Employment Opportunities
        li.links-item-hidden: a(href="/board") Board of Trustees
        li.links-item: a(href="/policies") Policies
        li.links-item: a(href="/contact") Contact
        li.links-item.links-dropdown#dropdown-more(tabindex="0")
            div.sublinks-main More
                include ../img/icons/dropdown.svg
            ul.sublinks#sublinks-more
                li.sublinks-item: a(href="/history") Library History
                li.sublinks-item.sublinks-double: a(href="http://www.raritan-online.com/jb-online-menu.htm" target="_blank" rel="noopener") Basilone Archives
                li.sublinks-item.sublinks-double: a(href="/jobs") Employment Opportunities
                li.sublinks-item.sublinks-double: a(href="/board") Board of Trustees