header.nav
    a.logo(href="/") Raritan<br>Public<br>Library
    div.nav-toggle#nav-toggle
        include ../img/icons/list.svg
    nav.links#links
        a.links-item(href="http://catalog.raritanlibrary.org/" target="_blank" rel="noopener") Catalog
        a.links-item(href="/events") Events
        a.links-item(href="/resources") eBooks & Digital
        a.links-item(href="/passes") Museum Passes
        a.links-item-more(href="/history") Library History
        a.links-item-more(href="https://www.digifind-it.com/raritan" target="_blank" rel="noopener") Raritan News Archives
        a.links-item-more(href="http://www.raritan-online.com/jb-online-menu.htm" target="_blank" rel="noopener") Basilone Archives
        //a.links-item-more(href="/jobs") Employment
        a.links-item-more(href="/board") Board of Trustees
        a.links-item(href="/policies") Policies
        a.links-item(href="/contact") Contact