header.nav
    a.logo(href="./") Raritan Public Library
    a.logo-alt(href="./") #[span.logo-alt-large Raritan] Public Library
    div.nav-toggle
        include ../img/icons/list.svg
    ul.links
        li.links-item: a(href="http://173.70.152.20/" target="_blank" rel="noopener") Catalog
        li.links-item: a(href="./programs") Programs
        li.links-item: a(href="./news") News
        li.links-item.links-dropdown#dropdown-books(tabindex="0")
            div.sublinks-main Book Clubs
                include ../img/icons/dropdown.svg
            ul.sublinks#sublinks-books
                li.sublinks-item: a(href="./bookclub") Book Club
                li.sublinks-item: a(href="http://raritanpubliclibrarybooks.blogspot.com/" target="_blank" rel="noopener") Books Blog
                li.sublinks-item: a(href="http://raritanlibraryteenblog.blogspot.com/" target="_blank" rel="noopener") YA/Teen Blog
        li.links-item-hidden: a(href="./bookclub") Book Club
        li.links-item-hidden: a(href="http://raritanpubliclibrarybooks.blogspot.com/" target="_blank" rel="noopener") Books Blog
        li.links-item-hidden: a(href="http://raritanlibraryteenblog.blogspot.com/" target="_blank" rel="noopener") YA/Teen Blog
        li.links-item: a(href="https://sites.google.com/view/childrensroom/home?authuser=0" target="_blank" rel="noopener" style="letter-spacing: -0.04em;") Children's Room
        // RPL Kids - https://kids.raritanlibrary.org
        li.links-item-hidden: a(href="./history") Library History
        li.links-item-hidden: a(href="./gallery") The Gallery
        li.links-item-hidden: a(href="http://www.raritan-online.com/jb-online-menu.htm" target="_blank" rel="noopener") Basilone Archives
        li.links-item-hidden: a(href="./resources") Resources
        li.links-item-hidden: a(href="./passes") Museum Passes
        li.links-item-hidden: a(href="./board") Board of Trustees
        li.links-item: a(href="./policies") Policies
        li.links-item: a(href="./contact") Contact
        li.links-item.links-dropdown#dropdown-more(tabindex="0")
            div.sublinks-main More
                include ../img/icons/dropdown.svg
            ul.sublinks#sublinks-more
                li.sublinks-item: a(href="./history") Library History
                li.sublinks-item: a(href="./gallery") The Gallery
                li.sublinks-item: a(href="http://www.raritan-online.com/jb-online-menu.htm" target="_blank" rel="noopener") Basilone Archives
                li.sublinks-item: a(href="./resources") Resources
                li.sublinks-item: a(href="./passes") Museum Passes
                li.sublinks-item: a(href="./board") Board of Trustees