header.nav
    a.logo(href="./") Raritan Public Library
    a.logo-alt(href="./") #[span.logo-alt-large Raritan] Public Library
    div.nav-toggle
        include ../img/icons/list.svg
    ul.links
        a.links-item(href="http://173.70.152.20/" target="_blank" rel="noopener"): li Catalog
        a.links-item(href="./programs"): li Programs
        a.links-item(href="./news"): li News
        li.links-item.links-dropdown#dropdown-books
            div.sublinks-main Book Clubs
                include ../img/icons/dropdown.svg
            ul.sublinks#sublinks-books
                a.sublinks-item(href="./bookclub"): li Book Club
                a.sublinks-item(href="http://raritanpubliclibrarybooks.blogspot.com/" target="_blank" rel="noopener"): li Books Blog
                a.sublinks-item(href="http://raritanlibraryteenblog.blogspot.com/" target="_blank" rel="noopener"): li YA/Teen Blog
                a.sublinks-item(href="https://sites.google.com/view/childrensroom/home" target="_blank" rel="noopener"): li Children's Room
        ////-------------------------------------------------------------------
        a.links-item-hidden(href="./bookclub"): li Book Club
        a.links-item-hidden(href="http://raritanpubliclibrarybooks.blogspot.com/" target="_blank" rel="noopener"): li Books Blog
        a.links-item-hidden(href="http://raritanlibraryteenblog.blogspot.com/" target="_blank" rel="noopener"): li YA/Teen Blog
        a.links-item-hidden(href="https://sites.google.com/view/childrensroom/home" target="_blank" rel="noopener"): li Children's Room
        ////===================================================================
        a.links-item-hidden(href="./history"): li Library History
        a.links-item-hidden(href="./gallery"): li The Gallery
        a.links-item-hidden(href="http://www.raritan-online.com/jb-online-menu.htm" target="_blank" rel="noopener"): li Basilone Archives
        a.links-item-hidden(href="./resources"): li Resources
        a.links-item-hidden(href="./passes"): li Museum Passes
        a.links-item-hidden(href="./board"): li Board of Trustees
        //a.links-item-hidden(href="./links"): li External Links
        ////-------------------------------------------------------------------
        a.links-item(href="./policies"): li Policies
        a.links-item(href="./contact"): li Contact
        li.links-item.links-dropdown#dropdown-more
            div.sublinks-main More
                include ../img/icons/dropdown.svg
            ul.sublinks#sublinks-more
                a.sublinks-item(href="./history"): li Library History
                a.sublinks-item(href="./gallery"): li The Gallery
                a.sublinks-item(href="http://www.raritan-online.com/jb-online-menu.htm" target="_blank" rel="noopener"): li Basilone Archives
                a.sublinks-item(href="./resources"): li Resources
                a.sublinks-item(href="./passes"): li Museum Passes
                a.sublinks-item(href="./board"): li Board of Trustees
                //a.sublinks-item(href="./links"): li External Links