h3.hsidebar Hours
- const days = ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"]
.hours
    for i in arr(7)
        p #[span.hours-day #{days[i]}] #[span.hours-detail]
h4 Porchside Pickup
p.comment.hsidebar Read our #[a.comment-link(href="/porchside-pickup") Pickup Instructions]
.hours
    for i in arr(7)
        p #[span.hours-day #{days[i]}] #[span.hours-detail]