h3.hsidebar Hours
.hours
    p #[span.hours-day Monday]      #[span.hours-detail]
    p #[span.hours-day Tuesday]     #[span.hours-detail]
    p #[span.hours-day Wednesday]   #[span.hours-detail]
    p #[span.hours-day Thursday]    #[span.hours-detail]
    p #[span.hours-day Friday]      #[span.hours-detail]
    p #[span.hours-day Saturday]    #[span.hours-detail]
    p #[span.hours-day Sunday]      #[span.hours-detail]
h4 Porchside Pickup
p.comment.hsidebar Read our #[a.comment-link(href="./porchside-pickup") Pickup Instructions]
.hours
    p #[span.hours-day Monday]      #[span.hours-detail]
    p #[span.hours-day Tuesday]     #[span.hours-detail]
    p #[span.hours-day Wednesday]   #[span.hours-detail]
    p #[span.hours-day Thursday]    #[span.hours-detail]
    p #[span.hours-day Friday]      #[span.hours-detail]
    p #[span.hours-day Saturday]    #[span.hours-detail]
    p #[span.hours-day Sunday]      #[span.hours-detail]