header.nav
    a.logo(href="/" aria-label="Raritan Public Library"): include ../img/logo.svg
    div.nav-toggle#nav-toggle
        include ../img/icons/list.svg
    nav.links#links
        a.links-item(href="https://raritan.aspendiscovery.org/" target="_blank" rel="noopener" data-umami-event="catalog-nav") Catalog
        a.links-item(href="/events") Events
        a.links-item(href="/resources") Resources
        //-eBooks &amp; Digital
        //a.links-item(href="/passes") Museum Passes
        a.links-item-more(href="/history") Library History
        a.links-item-more(href="https://www.digifind-it.com/raritan" target="_blank" rel="noopener") Raritan Valley News
        a.links-item-more(href="http://www.raritan-online.com/jb-online-menu.htm" target="_blank" rel="noopener") Basilone Archives
        //a.links-item-more(href="/jobs") Employment
        a.links-item-more(href="/board") Board of Trustees
        a.links-item(href="/policies") Policies
        a.links-item(href="/contact") Contact
        .links-more#more(tabindex="0")
            span More
            include ../img/icons/caret-down.svg
            .links-more-links#more-content
                a.links-more-links-item(href="/history") Library History
                a.links-more-links-item(href="https://www.digifind-it.com/raritan" target="_blank" rel="noopener") Raritan Valley News
                a.links-more-links-item(href="http://www.raritan-online.com/jb-online-menu.htm" target="_blank" rel="noopener") Basilone Archives
                //a.links-more-links-item(href="/jobs") Employment
                a.links-more-links-item(href="/board") Board of Trustees