h3.hsidebar Contact
.address
    p.address-main
        | 54 E Somerset Street <br>
        | Raritan, NJ 08869 <br>
        a.address-map(target="_blank" rel="noopener" href="https://www.google.com/maps/dir//Raritan+Public+Library,+54+E+Somerset+St,+Raritan,+NJ+08869/@40.568867,-74.62909,15z/data=!4m9!4m8!1m0!1m5!1m1!1s0x89c3952d67d747f5:0x1a32742982bb460d!2m2!1d-74.62909!2d40.568867!3e0")
            | Get Directions
    p.address-other
        | #[b Tel:] (908) 725-0413 <br>
        | #[b Fax:] (908) 725-1832 <br>
        a.address-email(href="mailto:info@raritanlibrary.org")
            | info@raritanlibrary.org
h3.spacer-sm Hours
.closure-sidebar#closure-sidebar
.hours#hours
a.hours-holiday#hours-holiday Holiday Hours