.theme
  position fixed
  top 61.5vh
  display flex
  justify-content center
  align-items center
  padding 12px 6px
  background-color fixed-accent
  border-radius 0px 6px 6px 0px
  border-right 2px solid fixed-lite
  border-top 2px solid fixed-lite
  border-bottom 2px solid fixed-lite
  cursor pointer
  z-index 2
  svg
    fill fixed-lite
    width 22px

.totop
  position fixed
  top 100vh //calc(100vh - 60px)
  left calc(100vw - 60px)
  display flex
  justify-content center
  align-items center
  padding 8px
  background-color fixed-accent
  border-radius 9999px
  border 2px solid fixed-lite
  cursor pointer
  z-index 1
  svg
    fill fixed-lite
    width 28px