.theme
  position fixed
  top 59.5vh
  display flex
  justify-content center
  align-items center
  padding 12px 6px
  background-color fixed-accent
  border-radius 0px 6px 6px 0px
  border-right 2px solid fixed-lite
  border-top 2px solid fixed-lite
  border-bottom 2px solid fixed-lite
  cursor pointer
  z-index 2
  shadow()
  svg
    fill fixed-lite
    width 22px
  &-darken
    filter brightness(40%)
  +tablet()
    top 63.5vh
    padding 14px 10px
    svg
      width 32px
  +laptop()
    top 82vh
    animate(background-color)
    &:hover
      background-color fixed-accent-dark
    &-darken
      filter none
.totop
  position fixed
  top 100vh
  left calc(100vw - 60px)
  display flex
  justify-content center
  align-items center
  padding 8px
  background-color fixed-accent
  border-radius 9999px
  border 2px solid fixed-lite
  cursor pointer
  z-index 1
  shadow()
  svg
    fill fixed-lite
    width 28px
  +tablet()
    left calc(100vw - 76px)
    padding 12px
    svg
      width 36px
  +laptop()
    left calc(100vw - 92px)
    animate(background-color)
    &:hover
      background-color fixed-accent-dark