entry-template(type)
  flex(dir: column)
  spacer(0.25)
  border-left 8px solid rgba(lookup('event-'+type), 1)
  padding 8px
  background-color rgba(lookup('event-'+type), 0.3)
  lexend(16px, dark, bold)
  margin 4px 0
  &-time
    lexend(14px, unquote(ev-text-+type))
    margin-bottom 0
  +laptop()
    padding 4px
    font-size 13px
    border-left-width 4px
    margin 2px 0
    &-time
      font-size 11px
      margin-bottom -2px

.calendar
  &-header
    lexend-mega(32px, accent)
    margin-bottom 8px
    text-align center
  &-nav
    flex(align: space-between)
    margin-bottom 16px
  &-action
    background-color accent
    padding 4px 8px
    user-select none
    max-width fit-content
    lexend(14px, lite)
    text-decoration none
    &-grey
      background-color neutral
  &-weeks
    flex(dir: column, align: center, gap: 8px)
  &-day
    margin-bottom 8px
    &-now
      @extends .calendar-day
    &-grey, &-empty
      display none
  &-num
    flex(dir: column, align: center, x-align: start)
    &-dotw
      lexend(16px, neutral, bold)
      margin-bottom -4px
    &-date
      lexend-mega(24px, accent)
  &-entry
    for col, i in event-colors
      &-{col}
        entry-template(col)
  +tablet()
    &-header
      font-size 40px
    &-action
      font-size 18px
    &-day, &-day-now
      width 48.5%
    &-num
      &-date
        font-size 26px
    &-weeks
      flex(dir: row, wrapping: wrap, align: space-between, gap: 8px)
      &::after
        content ""
        flex auto

/*
  +laptop()
    &-header
      font-size 40px
    &-weeks
      flex(dir: row, wrapping: wrap, align: center, gap: 0px)
    &-day
      flex-direction column
      max-width 14%
      border-left 2px solid accent
      border-bottom 2px solid accent
      padding 8px
      &-now, &-grey, &-empty
        @extends .calendar-day
    &-num
      &-dotw
        display none
*/