.dotw
   @media screen and (min-width 950px) and (max-width 1250px)
        display none
   @media screen and (max-width 750px)
        display none
.calendar
    user-select(none)
    &-days
        lexend(10px, var(--main))
        background-color var(--alt)
        border-radius 12px 12px 0 0
        display flex
        flex-flow row nowrap
        text-align center
        align-items center
    &-dotw
        flex 1 0 13%
        line-height 24px
        &:not(:first-child)
            border-left 2px solid var(--main)
    &-weeks
        display flex
        flex-flow row wrap
        @media screen and (min-width 950px) and (max-width 1250px)
            border-bottom 2px solid var(--border-c)
            border-right 2px solid var(--border-c)
        @media screen and (max-width 750px)
            border-bottom 2px solid var(--border-c)
            border-right 2px solid var(--border-c)
    &-day
        flex 1 0 13%
        min-height 100px
        padding 6px
        border-left 2px solid var(--border-c)
        border-bottom 2px solid var(--border-c)
        @media screen and (min-width 950px) and (max-width 1250px)
            flex 1 0 33%
            border-top 2px solid var(--border-c)
            border-bottom none
            border-left 2px solid var(--border-c)
            border-right none
        @media screen and (min-width 450px) and (max-width 750px)
            flex 1 0 33%
        @media screen and (max-width 450px) 
            flex 1 0 50%
        @media screen and (max-width 750px)
            border-top 2px solid var(--border-c)
            border-bottom none
            border-left 2px solid var(--border-c)
            border-right none
        @media screen and (min-width 1250px)
            &:nth-child(7n)
                border-right 2px solid var(--border-c)
        @media screen and (min-width 750px) and (max-width 950px)
            &:nth-child(7n)
                border-right 2px solid var(--border-c)
        &-grey
            @extend .calendar-day
            background-color var(--main3)
            filter saturate(80%) brightness(80%) contrast(90%)
            @media screen and (min-width 950px) and (max-width 1250px)
                display none
            @media screen and (max-width 750px)
                display none
        &-now
            @extend .calendar-day
            background-color var(--selection)
    &-flex
        &-half
            @media screen and (min-width 950px) and (max-width 1250px)
                flex 1 0 50%
            @media screen and (max-width 750px)
                flex 1 0 50%            
    &-num, &-num-now
        minion(20px, var(--alt), bold)
        margin-bottom 8px
        &-grey
            minion(20px, var(--alt2), bold)
            margin-bottom 4px
    &-dotw-inner
        minion(14px, var(--alt4), bold)
        margin-left 6px
        display none
        @media screen and (min-width 950px) and (max-width 1250px)
            display inline
        @media screen and (max-width 750px)
            display inline
    &-nav
        display flex
        flex-flow row nowrap
        justify-content space-between
        margin -12px 0 16px
        minion(22px, var(--alt), bold)
        txt-shadow()
        @media screen and (max-width 424px)
            minion(5.2vw, var(--alt), bold)
        &-item
            padding 8px
            margin -8px
            min-width 180px
            cursor pointer
            &:nth-child(2)
                text-align right
            @media screen and (max-width 424px)
                min-width 42vw
        &-grey
            minion(22px, var(--main-textD), bold)
            cursor default
            @media screen and (max-width 424px)
                minion(5.2vw, var(--main-textD), bold) 
entry-template(type)
    display block
    spacer(0.25)
    border-left 5px solid rgba(lookup('event-'+type), 1)
    padding 4px
    background-color rgba(lookup('event-'+type), 0.4)
    perpetua(15.65px, var(--main-text))
    letter-spacing -0.55px
    text-align left
    transition all 0.2s ease-in-out
    &-time
        perpetua(13.25px, var(unquote(--ev-text-+type)), bold)
        margin-top 2px
    &:hover, &:focus
        border-left 5px solid lookup('event-text-'+type)
        background-color var(unquote(--ev-hover-+type))
.calendar-entry
    &-red
        entry-template('red')
    &-orange
        entry-template('orange')
    &-yellow
        entry-template('yellow')
    &-lime
        entry-template('lime')
    &-green
        entry-template('green')
    &-cyan
        entry-template('cyan')
    &-blue
        entry-template('blue')
    &-purple
        entry-template('purple')
    &-pink
        entry-template('pink')
    &-gray, &-grey
        entry-template('gray')