.slider
    width 100vw
    background-color accent

.slide
    width 50vw
    position absolute
    top 30%
    right 25%
    overflow hidden
    img
        object-fit cover

.btn
    position relative
    width 20px
    height 20px
    padding 2px 4px
    border none
    border-radius 50%
    z-index 1
    cursor pointer
    background-color #aaa
    lexend(12px, dark, bold)

.btn:active
    transform scale(1.1)

.btn-prev
    top 50%
    left 2%

.btn-next
    top 50%
    right 2%