event-template(type)
    spacer(0.25)
    border 2px solid rgba(lookup('event-'+type), 0.4)
    background-color var(unquote(--ev-+type))
    user-select(none)
    transition all 0.2s ease-in-out
    &:hover, &:focus
        background-color var(unquote(--ev-hover-+type))
        border 2px solid lookup('event-'+type)
    @media screen and (max-width 949px)
        spacer(0)
    @media screen and (min-width 750px) and (max-width 949px)
        height 82px
        display flex
        flex-flow column nowrap
        justify-content space-around
    &-cover
        background-color var(unquote(--ev-cover-+type))
        padding 8px
    &-title
        minion(20.1px, var(--main-text), bold)
        letter-spacing -0.3px
        text-wrap balance
    &-hr
        background var(--main-textC)
        border 0
        margin 6px auto 8px
        height 1px
        max-width 300px
        @media screen and (max-width 949px)
            margin 4px auto
            height 0px
    &-date
        perpetua(17px, var(unquote(--ev-text-+type)), bold)
        letter-spacing -0.4px
        @media screen and (max-width 949px)
            display none
        &-mobile
            display none
            @media screen and (max-width 949px)
                display block
                perpetua(16px, var(unquote(--ev-text-+type)), bold)
    &-time
        perpetua(14.5px, var(unquote(--ev-text-+type)), bold)
        margin-bottom 8px
        @media screen and (max-width 949px)
            display none
    &-desc
        perpetua(15.5px, var(unquote(--ev-text-+type)))
        text-align justify
        text-align-last center
        text-overflow ellipsis
        overflow hidden
        @media screen and (max-width 949px)
            display none
        &-filler
            display none
            @media screen and (max-width 949px)
                display block
                perpetua(16px, var(unquote(--ev-text-+type)))
                margin-top 16px;
    text-align center
    @media screen and (max-width 949px)
        width 215px
.calendar-events
    display flex
    flex-flow column wrap
    align-items center
    @media screen and (min-width 425px) and (max-width 949px)
        width calc(100% - 250px)
        flex-flow row nowrap
        justify-content flex-end
        gap 40px
.event
    spacer(0.5)
    @media screen and (min-width 950px)
        width 100%
    @media screen and (max-width 949px)
        spacer(0)
    @media screen and (min-width 750px) and (max-width 949px)
        &:nth-child(n+3)
            display none
    @media screen and (max-width 749px)
        &:nth-child(n+2)
            display none
    &-more
        display block
        visibility hidden
        border-radius 12px
        background-color var(--alt)
        text-align center
        padding 6px 8px
        transition background-color 0.2s ease-in-out
        &:hover, &:focus
            background-color var(--alt-lighten)
        @media screen and (max-width 949px)
            visibility visible
            padding 4px 8px
            margin-top 6px
        &-inner
            perpetua(18px, var(--alt-text), bold)
    &-red
        event-template('red')
    &-red2
        event-template('red2')
    &-orange
        event-template('orange')
    &-yellow
        event-template('yellow')
    &-lime
        event-template('lime')
    &-green
        event-template('green')
    &-green2
        event-template('green2')
    &-cyan
        event-template('cyan')
    &-blue
        event-template('blue')
    &-purple
        event-template('purple')
    &-pink
        event-template('pink')
    &-gray, &-grey
        event-template('gray')