.event
    margin-bottom 16px
    &-category
        lexend(12px, accent-lite, bold)
        text-transform uppercase
        margin-bottom 8px
    &-main
        display flex
        flex-flow row nowrap
        align-items flex-start
        gap 16px
    &-image
        source, img
            width 124px
            min-width 124px
    &-header
        lexend(20px, dark, bold)
        margin-top -6px
        margin-bottom 0
    &-datetime
        lexend(14px, neutral)
        margin-bottom 8px
    &-action
        display flex
        flex-flow row wrap
        gap 4px 8px
    &-register, &-schedule
        lexend(14px, lite)
        background-color accent
        padding 4px 8px
        user-select none
        text-decoration none