.footer
  flex(dir: column, align: start, x-align: center, gap: 16px)
  background-color fixed-accent
  padding 24px 16px
  p
    margin-bottom 0
  &-heading
    text-align center
    color fixed-lite
    margin-bottom 0
  &-socials
    flex(wrapping: wrap, align: start, gap: 12px)
    margin-top -8px
    margin-bottom -16px
    &-link
      width calc(32px+16px)
      fill fixed-lite
      padding 8px
      animate(transform)
      &:hover, &:focus
        transform scale(1.2)
  &-info
    flex(wrapping: wrap, align: space-around, gap: 16px 0)
    width 100%
  &-contact
    flex(dir: column, gap: 8px)
    &-method
      flex(align: start, gap: 8px)
      lexend(13px, fixed-lite)
      letter-spacing -0.025em
      a
        lexend(13px, fixed-lite)
        underline(fixed-lite)
      svg
        position relative
        fill fixed-lite
        width 14px
        top 1px
  &-hours
    h2
      margin-bottom 4px
    p   
      lexend(13px, fixed-lite)
      letter-spacing -0.025em
      flex(align: space-between, gap: 16px)
  +tablet()
    &-socials
      margin-bottom -24px
    &-info
      flex(wrapping: wrap, align: center, gap: 64px)
    &-contact
      &-method
        font-size 16px
        a
          font-size 16px
    &-hours
      p   
        font-size 16px
        letter-spacing -0.025em

.copyright
  lexend-mega(14px, fixed-lite)
  letter-spacing -0.12em
  text-transform uppercase
  +tablet()
    font-size 16px
    letter-spacing -0.1em

.version
  lexend(12px, fixed-accent-lite)
  text-align center
  a
    lexend(12px, fixed-lite)
    underline(fixed-lite)
  +tablet()
    font-size 14px
    a
      font-size 14px