nItems      = 9
linksWidth  = 220

.nav
  background-color lite
  &-toggle
    cursor pointer
    fill nav-main
    svg
      position absolute
      width 40px
      top 22px
      right 12px
      transition color 0.2s ease-in-out, transform 0.4s ease-out

.enlarge
  transform scale(1.2)

.logo
  padding 12px 16px
  display block
  width 60%
  svg
    position relative
    height 60px
    left -8px

.links
  flex(dir: column, wrapping: wrap)
  position absolute
  right "-%spx" % (linksWidth)
  z-index 1
  transition right 0.4s cube-out
  user-select none
  &-item
    lexend(16px, lite, bold)
    text-decoration none
    background-color neutral-dark
    padding "calc(-20px/2 - 0.8px/4*((%s - 1)/%s) + (100vh - 87px)/%s/2)" % (nItems nItems nItems) 16px
    width "%spx" % (linksWidth)
    text-align right
    &:not(:last-child)
      border-bottom 1px solid neutral
    &:hover
      background-color neutral
    &-more
      @extends .links-item
  &-open
    right 0

.search
  flex()
  margin 0 16px 16px
  position relative
  &-icon
    position absolute
    left 8px
    top 7px
    width 15px
    fill dark
  &-enter
    position absolute
    right 0
    top 0
    padding 3px 7px
    border-top 2px solid dark
    border-bottom 2px solid dark
    border-right 2px solid dark
    border-left 0
    background-color accent
    svg
      margin-top 3px
      width 15px
      fill lite
  &-bar
    width 100%
    padding 4px 28px 6px 28px
    border 2px solid dark
    lexend(14px, dark)
    &::placeholder
      color neutral