hero-size = 90

.hero
    height 220px
    background-color accent
    display flex
    flex-flow row nowrap
    overflow hidden
    align-items center
    &-slide
        transition all 0.4s cubic-bezier(0.33, 1, 0.68, 1)
        img, source
            margin-left "%svw" % ( (100 - hero-size) / 4 )
            width "%svw" % (hero-size)
    &-nav
        position absolute
        padding 24px
        margin 0 -20px
        border none
        z-index 1
        cursor pointer
        user-select none
        svg
            width 24px
            fill lite
            opacity 0.5
        &:active
            transform scale(1.1)
        &:hover
            opacity 1
        &-prev
            @extends .hero-nav
            left 0
        &-next
            @extends .hero-nav
            right 0