hero-size = 90

hero-flex(align, justify)
  position absolute
  flex(align: justify)
  align-self align
  width 100%
  &-item
    z-index 1
    cursor pointer
    user-select none
    opacity 0.4
    animate(all, 0.2s)
    &:hover
      opacity 1
      transform scale(1.3)
    svg
      width 24px
      fill fixed-lite

.hero
  flex(align: start)
  &-content
    flex(align: start, x-align: center)
    height 54vw
    width 100%
    //background-color fixed-accent
    background linear-gradient(0deg, fixed-accent 0%, fixed-accent-slite 200%);
    overflow hidden
  &-slide
    user-select none
    img, source
      margin-left "%svw" % ( (100 - hero-size) / 4 )
      width "%svw" % (hero-size)
  &-static
    user-select none
    img, source
      width 100%
  &-nav
    hero-flex(center, space-between)
    &-item
      padding 24px
      margin 0 -20px
  &-select
    hero-flex(flex-end, center)
    &-item
      padding 2px 0px
    &-current
      opacity 1
      transform scale(1.3)
  +tablet()
    &-content
      height 44vw
    hero-size = 80
    &-slide, &-static
      img, source
        margin-left "%svw" % ( (100 - hero-size) / 4 )
        width "%svw" % (hero-size)
    &-nav
      &-item
        padding 36px
    &-select
      gap 4px
      &-item
        padding 4px 0px
        svg
          width 28px
  +laptop()
    &-content
      height 30vw
    hero-size = 60
    &-slide, &-static
      img, source
        margin-left "%svw" % ( (100 - hero-size) / 4 )
        width "%svw" % (hero-size)
    &-nav
      &-item
        padding 36px 80px
        margin 0 -60px
  +standard()
    &-content
      height 344px
    hero-size = 688
    &-slide, &-static
      img, source
        margin-left calc((100vw - 688px) / 4 )
        width "%spx" % (hero-size)

.shift
  animate(transform, 0.4s)