.quicklinks
  flex(wrapping: wrap, align: space-between, gap: 8px)
  a
    line-height 0
    animate(filter)
    &:hover, &:focus
      filter brightness(80%)
  &-img
    margin auto
    img
      width 44vw
  +tablet()
    gap 3vw 8px
    &-img
      img
        width 29vw
  +standard()
    gap 24px
    &-img
      img
        width 22vw
        max-width 300px