::-webkit-scrollbar
    width 12px
    &-track
        display none
    &-thumb
        border 4px solid transparent
        background-clip padding-box
        border-radius 99px
        background-color var(--main-textD)
        // TODO: Uncomment after Parcel makes fix
        /*
        &:hover
            border 3px solid transparent
            background-color var(--main-textB)*/