.sidebar
    &-left, &-right
        background-color var(--main2)
        min-width 235px
        max-width 270px
        padding 24px 12px
        text-align center
        flex-basis 235px
        @media screen and (min-width 1600px)
            min-width calc((100vw/6 - (1600px/6 - 235px))) // 1/6
            flex-basis calc((100vw/6 - (1600px/6 - 235px))) // 1/6
    &-left
        @media screen and (max-width 424px)
            min-height 190px
        @media screen and (min-width 425px) and (max-width 949px)
            display flex
            flex-flow row wrap
            justify-content space-between
            align-content center
            padding 24px
            max-height 130px
        @media screen and (max-width 949px)
            flex-basis unset
            max-width unset
    &-craft, &-right
        @media screen and (max-width 949px)
            display none
.hsidebar
    spacer(0.5)
    &-event
        spacer(0.5)
        @media screen and (min-width 425px) and (max-width 949px)
            text-align left
            width 200px
            align-self center
            spacer(0)
        @media screen and (min-width 425px) and (max-width 550px)
            minion(7.27vw, var(--alt), bold)
.address
    spacer(1.5)
    &-main
        perpetua(22px,  var(--main-text), bold)
        spacer()
    &-map
        perpetua(18px, var(--link-text), bold, italic)
        position relative
        transition all 0.4s ease-out
        center-underline(1px, 4px)
        &:hover, &:focus
            perpetua(20px, var(--link-text-hover), bold, italic, 0)
    &-other
        perpetua(22px,  var(--main-text))
    &-email
        perpetua(16px, var(--link-text), bold)
        position relative
        transition all 0.4s ease-out
        center-underline(1px, 4px)
        &:hover, &:focus
            perpetua(17px, var(--link-text-hover), bold,, 0)
.hours
    margin auto
    spacer(1.5)
    text-align justify
    width max-content
    &-day
        perpetua(18px,  var(--main-text), bold)
        display inline-block
        width 114px
    &-detail
        perpetua(18px,  var(--main-text))
.crafts
    display flex
    flex-flow column wrap
    gap 16px 0
    &-img
        border 2px solid var(--border-c) 
        overflow hidden
        display inline
        height 108px
        width 100%
        user-select(none)
        &-inner
            object-fit cover
            height 108px
            width 100%