.status
  text-align center
  background-color accent
  padding 8px
  width 75%
  margin 0 auto 16px
  border-radius 24px
  h1
    lexend-mega(56px, lite)
    margin-top -8px
    margin-bottom 0
    letter-spacing -0.08em
  h2
    lexend-mega(20px, lite)
    margin-top -12px
    margin-bottom 0
  +tablet()
    h1
      font-size 72px
    h2
      font-size 26px
      margin-top -16px