@require './util/color'
@require './util/fonts'
@require './util/reset'
@require './components/alert'
@require './components/carousel'
@require './components/header'
@require './components/scrollbar'

html
    scroll-behavior smooth
    -ms-overflow-style none
    overflow overlay
    overflow-x hidden

.main
    transition 0.2s filter ease-in-out

b
    font-weight bold

.darken
    filter brightness(40%)