@require './util/color'
@require './util/fonts'
@require './util/mixins'
@require './util/reset'
@require './components/alert'
@require './components/event'
@require './components/footer'
@require './components/header'
@require './components/hero'
@require './components/resources'
@require './components/scrollbar'

html
  scroll-behavior smooth
  -ms-overflow-style none
  overflow-x hidden

.main
  transition 0.2s filter ease-in-out
  overflow-x:hidden
  background-color lite

.content
  margin 16px

h1
  lexend-mega(28px, accent)
  margin-bottom 8px

h2
  lexend-mega(20px, accent)
  margin-bottom 8px

p
  lexend(16px)
  margin-bottom 16px

b
  font-weight bold

a
  color accent-lite
  text-decoration underline
  font-weight bold

.darken
  filter brightness(40%)

.freeze
  overflow-y hidden
  user-select none