.four04
    &-h1
        lexend(110px, alt(), bold)
        spacer(-0.75)
        margin-top -24px
    &-h3
        lexend(22px, alt(), bold)
        text-transform none
    &-center
        display flex
        flex-flow column nowrap
        align-items center
        background main()