.status
    &-h1
        lexend(110px, var(--alt), bold)
        spacer(-0.75)
        margin-top -24px
    &-h2
        lexend(22px, var(--alt), bold)
        text-transform none
    &-center
        display flex
        flex-flow column nowrap
        align-items center
        background var(--main)