.member
  flex(dir: row, wrapping: wrap, align: space-around, gap: 0 12px)
  text-align center
  &-entry
    flex(dir: column)
    width 150px
    text-align center
    span
      lexend(12px, neutral)
  +tablet()
    gap 4px
    &-entry
      width 170px
      span
        font-size 14px
  +tablet()
    gap 8px
    &-entry
      width 230px

.meeting
  flex(dir: row, wrapping: wrap, align: space-around, gap: 12px)
  &-header
    text-align center
    letter-spacing -0.1em
    margin-bottom 10px
  &-outer
    flex(dir: column, align: start)
  &-inner p    
    text-align center