.member
  flex(dir: row, wrapping: wrap, align: space-around, gap: 0 12px)
  text-align center
  &-entry
    flex(dir: column)
    width 150px
    text-align center
    span
      lexend(12px, neutral)

.meeting
  flex(dir: row, wrapping: wrap, align: space-around, gap: 12px)
  &-header
    text-align center
    letter-spacing -0.1em
    margin-bottom 10px
  &-outer
    flex(dir: column)
  &-inner p    
    text-align center