
.members
    display flex
    flex-flow row wrap
    justify-content space-evenly
    gap 32px 96px
    text-align center
.member
    width 155px
.meeting
    display flex
    flex-flow row wrap
    justify-content space-around
    gap 32px 96px
    //height 550px
    &-year
        //max-height 600px
        overflow hidden
        transition max-height 0.3s ease-in-out
        p
            text-align center
            margin-bottom 4px
            padding 4px
.greyout
    perpetua(22px,  main-text('77'), bold,, 1.25)