.news-h3
    display inline-block
    margin 32px 0 -8px
    text-align left
    cursor pointer
.newsyear
    max-height 10000px
    overflow hidden
    transition max-height 0.3s cubic-bezier(.88,.01,.15,1)
    &-collapsed
        max-height 0
.newsarrow
    display inline-block
    position relative
    cursor pointer
    fill alt()
    width 24px
    top -1px
    transition transform 0.2s ease-out
    @media screen and (max-width 424px)
        width 5.6vw
        top -0.236vw
        left -1px
    &-collapsed
        transform rotate(-180deg)
        top 1px
        @media screen and (max-width 424px)
            top 0.236vw