.sitemap
    &-center
        display flex
        flex-flow row wrap
        justify-content space-around
        gap 48px 0
    &-list
        list-style none
        text-align center
        li
            padding 4px 0
    &-link
        perpetua(18px, link-text, bold)
        position relative
        transition 0.4s all
        center-underline(1px, 3px, 97%)
        &:hover, &:focus
            perpetua(18px, link-text-hover, bold)