.sitemap
  flex(dir: row, wrapping: wrap, align: space-around)
  text-align center
  &-outer
    flex(dir: column, align: start, x-align: center, gap: 0 32px)
    width 160px
  &-inner
    text-align center
    p
      text-align center
  h2
    margin-bottom 6px
  h3
    margin-bottom 12px
  +tablet()
    &-outer
      width 220px