<!DOCTYPE html>
html(lang="en" color-mode="lite")
    head
        - const noindex = true
        - const title = "Test"
        - const desc = "Test"
        include ./includes/_head.pug
    body
        include ./includes/access.pug
        div.body
            include ./includes/header.pug
            main.main
                .sidebar-left
                    include ./includes/calendar.pug
                .center.status-center
                    h1.status-h1 200
                    h2.status-h2 OK
                .sidebar-right
                    include ./includes/contact.pug
                    include ./includes/hours.pug
                    include ./includes/advert.pug
            include ./includes/footer.pug