Options -MultiViews
RewriteEngine on
RewriteCond %{HTTP_HOST} ^www\.
RewriteRule ^(.*)$ https://raritanlibrary.org/$1 [R=301,L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^([^\.]+)$ $1.html [NC,L]
ErrorDocument 404   /404
RedirectMatch 301   /2016LibraryBoardMinutes.html         /board
RedirectMatch 301   /2017BoardMinutes.html                /board
RedirectMatch 301   /2018BoardMeetingMinutes.html         /board
RedirectMatch 301   /2019BoardofTrusteesMinutes.html      /board
RedirectMatch 301   /CurbsidePickUpInstructions.html      /porchside-pickup
RedirectMatch 301   /databases.html                       /passes
RedirectMatch 301   /inside.html                          /gallery
RedirectMatch 301   /links                                /site-map
RedirectMatch 301   /links.html                           /site-map
RedirectMatch 301   /tree.html                            /site-map
RedirectMatch 301   /tree                                 /site-map
RedirectMatch 301   /NewE-BooksApp.html                   /resources#ebooks
RedirectMatch 301   /NoteworthyReads.htm                  http://raritanpubliclibrarybooks.blogspot.com/
RedirectMatch 301   /Pronunciator.html                    /resources#language
RedirectMatch 301   /StarLedgerLoginInstructions.html     /resources#newspapers
RedirectMatch 301   /ebooks                               /resources#ebooks
RedirectMatch 301   /education                            /resources#education
RedirectMatch 301   /databases                            /resources#databases
RedirectMatch 301   /newspapers                           /resources#newspapers
RedirectMatch 301   /language                             /resources#language
RedirectMatch 301   /timeline                             /history#timeline
RedirectMatch 301   /map                                  /contact#map
RedirectMatch 301   /directions                           /contact#map
RedirectMatch 301   /standards                            /policies#standards
RedirectMatch 301   /computers                            /policies#computers
RedirectMatch 301   /dvds                                 /policies#dvds
RedirectMatch 301   /printing                             /policies#printing
RedirectMatch 301   /ill                                  /policies#ill
RedirectMatch 301   /renewals                             /policies#renewals
RedirectMatch 301   /holds                                /policies#holds
# DISABLE DIRECTORY INDEXES
Options -Indexes