<!DOCTYPE html>
html(lang="en" color-mode="lite")
    head
        - const noindex = true
        - const title = "Forbidden"
        - const desc = "Raritan Public Library does not allow access to this part of the website."
        include ./includes/_head.pug
    body
        include ./includes/access.pug
        div.body
            include ./includes/header.pug
            main.main
                .sidebar-left
                    include ./includes/calendar.pug
                .center.status-center
                    h1.status-h1 403
                    h2.status-h2 Forbidden
                    br
                    br
                    p.text.text-center.text-bold You do not have permission to access this part of the website.
                    br
                    p.text.text-center The page you are looking for may have been moved, or may not exist.
                    br
                    p.text.text-center If you feel something is missing, or need assistance navigating this website,<br>please #[a.link(href="/contact") contact us] or view our #[a.link(href="/site-map") site map].
                .sidebar-right
                    include ./includes/contact.pug
                    include ./includes/hours.pug
            include ./includes/footer.pug