extends ./templates/default.pug

block meta
    - const noindex = true
    - const title = "403 Forbidden"
    - const desc = "Raritan Public Library does not allow access to this part of the website."

block content
    .content
        .status
            h1 403
            h2 Forbidden
        p.center #[b You do not have permission to access this part of the website.]
        p.center The page you are looking for may have been moved, or may not exist.
        p.center If you feel something is missing, or need assistance navigating this website, please #[a.link(href="/contact") contact us] or view our #[a.link(href="/site-map") site map].
        .action-big: a(href="/") Return to the homepage