<!DOCTYPE html>
html(lang="en")
    head
        include ./includes/_head.pug
        title Page not found &ndash; Raritan Public Library
    body.body
        include ./includes/header.pug
        main.main
            .sidebar-left
                include ./includes/calendar.pug
            .center.four04-center
                h1.four04-h1 404
                h3.four04-h3 Page not found
                <br><br>
                p.text.text-center.text-bold We didn't find anything on this part of the website.
                <br>
                p.text.text-center The page you are looking for may have been moved, or may not exist.
                <br>
                p.text.text-center If you feel something is missing, or need assistance navigating this website, please #[a.link(href="./contact.pug") contact us].
            .sidebar-right
                include ./includes/contact.pug
                include ./includes/hours.pug
        include ./includes/footer.pug