<!DOCTYPE html>
html(lang="en")
    head
        include ./includes/_head.pug
        title Board of Trustees &ndash; Raritan Public Library
    body.body
        include ./includes/header.pug
        main.main
            .sidebar-left
                include ./includes/calendar.pug
            .center
                h1 Board of Trustees
                br
                p.text-bold.text-center.spacer-plus Board of Trustees meetings are held on the third Thursday of each month at 7 PM at #[a.link(href="https://www.google.com/maps/dir//Raritan+Public+Library,+54+E+Somerset+St,+Raritan,+NJ+08869/@40.568867,-74.62909,15z/data=!4m9!4m8!1m0!1m5!1m1!1s0x89c3952d67d747f5:0x1a32742982bb460d!2m2!1d-74.62909!2d40.568867!3e0" target="_blank" rel="noopener") Raritan Public Library].
                h3.spacer-plus#members Members
                .members
                    .member
                        img.members-img(src="./img/board/_.png" alt="Donald Esposito")
                        p.text-bold Donald Esposito
                        p.comment President
                    .member
                        img.members-img(src="./img/board/_.png" alt="Jane Fidacaro")
                        p.text-bold Jane Fidacaro
                        p.comment Vice-President
                    .member
                        img.members-img(src="./img/board/_.png" alt="Laura Hnasko")
                        p.text-bold Laura Hnasko
                        p.comment Secretary
                    .member
                        img.members-img(src="./img/board/_.png" alt="Adele Goetsch")
                        p.text-bold Adele Goetsch
                        p.comment Treasurer
                    .member
                        img.members-img(src="./img/board/_.png" alt="Umesh Agrawal")
                        p.text-bold Umesh Agrawal
                    .member
                        img.members-img(src="./img/board/_.png" alt="Mary Pat Gausz")
                        p.text-bold Mary Pat Gausz
                    .member
                        img.members-img(src="./img/board/_.png" alt="Jim Foohey")
                        p.text-bold Jim Foohey
                    .member
                        img.members-img(src="./img/board/_.png" alt="Lucy Sandler")
                        p.text-bold Lucy Sandler
                        p.comment Superintendent Alternate
                    .member
                        img.members-img(src="./img/board/_.png" alt="Zachary Bray")
                        p.text-bold Zachary Bray
                        p.comment Mayor
                    .member
                        img.members-img(src="./img/board/_.png" alt="Mary J. Paese")
                        p.text-bold Mary J. Paese
                        p.comment Director
                hr.hr
                h2.spacer-plus#minutes Meeting Minutes
                .news-wrapper
                    h3.meeting-h3#2021 2021
                    .meeting-arrow.spacer-plus#meeting-arrow-2021: include ./img/icons/dropdown.svg
                    .meeting-year#meeting-year-2021
                        p.text #[a.link(href="" target="_blank") January Minutes]
                        p.text #[a.link(href="" target="_blank") February Minutes]
                        p.text #[a.link(href="" target="_blank") March Minutes]
                        p.text #[a.link(href="" target="_blank") April Minutes]
                .news-wrapper
                    h3.meeting-h3#2020 2020
                    .meeting-arrow.meeting-arrow-collapsed.spacer-plus#meeting-arrow-2020: include ./img/icons/dropdown.svg
                    .meeting-year.meeting-year-collapsed#meeting-year-2020
                        p.text #[a.link(href="" target="_blank") January Minutes]
                        p.text #[a.link(href="" target="_blank") February Minutes]
                        p.text-bold March - No meeting
                        p.text-bold April - No meeting
                        p.text #[a.link(href="" target="_blank") May Minutes]
                        p.text #[a.link(href="" target="_blank") June Minutes]
                        p.text #[a.link(href="" target="_blank") July Minutes]
                        p.text #[a.link(href="" target="_blank") August Minutes]
                        p.text #[a.link(href="" target="_blank") September Minutes]
                        p.text #[a.link(href="" target="_blank") October Minutes]
                        p.text #[a.link(href="" target="_blank") November Minutes]
                        p.text #[a.link(href="" target="_blank") December Minutes]
                .news-wrapper
                    h3.meeting-h3#2019 2019
                    .meeting-arrow.meeting-arrow-collapsed.spacer-plus#meeting-arrow-2019: include ./img/icons/dropdown.svg
                    .meeting-year.meeting-year-collapsed#meeting-year-2019
                        p.text #[a.link(href="" target="_blank") January Minutes]
                        p.text #[a.link(href="" target="_blank") February Minutes]
                        p.text #[a.link(href="" target="_blank") March Minutes]
                        p.text #[a.link(href="" target="_blank") April Minutes]
                        p.text #[a.link(href="" target="_blank") May Minutes]
                        p.text #[a.link(href="" target="_blank") June Minutes]
                        p.text #[a.link(href="" target="_blank") July Minutes]
                        p.text #[a.link(href="" target="_blank") August Minutes]
                        p.text #[a.link(href="" target="_blank") September Minutes]
                        p.text #[a.link(href="" target="_blank") October Minutes]
                        p.text #[a.link(href="" target="_blank") November Minutes]
                        p.text #[a.link(href="" target="_blank") December Minutes]
                .news-wrapper
                    h3.meeting-h3#2018 2018
                    .meeting-arrow.meeting-arrow-collapsed.spacer-plus#meeting-arrow-2018: include ./img/icons/dropdown.svg
                    .meeting-year.meeting-year-collapsed#meeting-year-2018
                        p.text #[a.link(href="" target="_blank") January Minutes]
                        p.text #[a.link(href="" target="_blank") February Minutes]
                        p.text #[a.link(href="" target="_blank") March Minutes]
                        p.text #[a.link(href="" target="_blank") April Minutes]
                        p.text #[a.link(href="" target="_blank") May Minutes]
                        p.text #[a.link(href="" target="_blank") June Minutes]
                        p.text-bold July - No meeting
                        p.text #[a.link(href="" target="_blank") August Minutes]
                        p.text #[a.link(href="" target="_blank") September Minutes]
                        p.text #[a.link(href="" target="_blank") October Minutes]
                        p.text-bold November - No meeting
                        p.text #[a.link(href="" target="_blank") December Minutes]
            .sidebar-right
                include ./includes/contact.pug
                include ./includes/hours.pug
        include ./includes/footer.pug