<!DOCTYPE html>
html(lang="en" color-mode="lite")
    head
        - const title = "COVID-19 Information"
        - const desc = "Read information regarding policies and actions taken to prevent the spread of the novel coronavirus (COVID-19) at Raritan Public Library."
        include ./includes/_head.pug
    body
        include ./includes/access.pug
        div.body
            include ./includes/header.pug
            main.main
                .sidebar-left
                    include ./includes/calendar.pug
                .center
                    h1.h1-sm.spacer-plus COVID-19 Information
                    p.text.spacer-plus Due to the continuation of the novel coronavirus (COVID-19) and the spread of its variants, we expect and greatly appreciate all people that enter our facility to adhere to the following guidelines. The Board of Trustees and Library staff appreciates everyone's cooperation during these unprecedented times.
                    hr.hr
                    h2 Protocols
                    p.comment-big.text-center These guidelines may be subject to change by the Library Board as circumstances require.
                    .spacer-plus
                    ol
                        li.text-list Patrons are encouraged to enter the Library through the front door.
                        li.text-list Masks are required at all times.
                        li.text-list Hand sanitizer is available at the entrance.
                        li.text-list It is encouraged for patrons to keep a distance of at least 6 feet apart from on another.
                        li.text-list For #[a.link(href="/porchside-pickup") porchside pickup], patrons are encouraged to visit our #[a.link(href="http://173.70.152.20/" target="_blank" rel="noopener") catalog] and call ahead for quicker service. They will then be notified when the items will be ready for them on the porch.
                        li.text-list Returned items are to be left in the drop box at the front door before entering.
                        li.text-list Photocopying is available during the hours we are open to the public. Staff will do the photocopying for you; patrons will not be allowed to use the copier themselves.
                .sidebar-right
                    include ./includes/contact.pug
                    include ./includes/hours.pug
            include ./includes/footer.pug