extends ./templates/default.pug

block meta
    - const title = "Event Calendar"
    - const desc = "Discover exclusive programs and upcoming events, only at Raritan Public Library."

block content
    .hero
        .hero-content#hero-content
            picture.hero-static
                source(srcset=`./img/hero/events.png?as=webp` alt=title type="image/webp")
                img(src=`./img/hero/events.png` alt=title type="image/png")
    .content
        h1.access Events
        .calendar-header#calendar-month
        .calendar-nav
            .calendar-action.calendar-action-grey#calendar-nav-back
            .calendar-action#calendar-nav-next
        .calendar
            .calendar-days
                for dotw in dotws
                    .calendar-dotw
                        span #{dotw}
            .calendar-weeks#calendar-weeks