doctype html
html(lang="en" color-mode="lite")
    head
        - const title = "Event Calendar"
        - const desc = "Discover exclusive programs and upcoming events, only at Raritan Public Library."
        include ./includes/_head.pug
    body
        include ./includes/access.pug
        div.body
            include ./includes/header.pug
            main.main
                .sidebar-left
                    include ./includes/sidebar-left.pug
                .center
                    h1.h1 Event Calendar
                    p.text.text-center To sign up for events, please use a provided sign-up form, or call us at #[b (908) 725-0413] during our open hours.
                    hr.hr
                    .calendar
                        h2.h2#calendar-month
                        p.text.text-center.spacer-plus Download a printable copy of our #[a.link(href=`./docs/calendar_${dateShort}.pdf` target="_blank") #{dateMonth} Calendar] here.
                        .calendar-nav
                            p.calendar-nav-item#month-nav-left
                            p.calendar-nav-item#month-nav-right
                        .calendar-days
                            for dotw in dotws
                                .calendar-dotw
                                    p.dotw #{dotw}
                        .calendar-weeks#calendar-weeks
                .sidebar-right
                    include ./includes/sidebar-right.pug
            include ./includes/footer.pug