doctype html
html(lang="en" color-mode="lite")
    head
        - const home = true
        - const desc = "Discover the Raritan Public Library online to explore information on books, digital resources, media, and more."
        include ./includes/_head.pug
    body
        include ./includes/ga.pug
        include ./includes/access.pug
        div.body
            include ./includes/header.pug
            main.main
                .sidebar-left
                    include ./includes/sidebar-left.pug
                .center
                    .closure-index#closure-index
                    - const imgAlt = ["The homestead of the Raritan Public Library","Bookshelves inside the Raritan Public Library","The reading room at the Raritan Public Library", "The Raritan Public Library Children's Room", "The outdoor gazebo at the Raritan Public Library"]
                    .slideshow
                        each img in arr(5)
                            +picture-multi(`/slideshow/${img+1}.png`, `slideshow/480/${img+1}.png`, imgAlt[img], "slideshow-img")
                    h1.welcome Welcome
                    p.text.spacer-plus Step back in time and explore the world of knowledge at the Raritan Public Library. Housed in a historic landmark, this library offers a rich collection of books, ebooks, magazines, DVD's, and digital resources, all waiting to be discovered.
                    br
                    br
                    br
                    br
                    br
                    br 
                    hr.hr
                    h2.h2 News
                        .spacer-plus
                        .news
                            .snippet.left
                                picture
                                    source(srcset=`./img/misc/yardsale.png?as=webp` type="image/webp")
                                    img.snippet-img(src=`./img/misc/yardsale.png?as=jpeg` alt="Yard Sale" type="image/jpeg")
                                .snippet-body
                                    h3.h3.left Upcoming: Town-Wide Yard Sale
                                    p.text On #[b Saturday, May 4th], Raritan will be holding its 5th Annual Town-Wide Yard Sale. Please click on the link below for a registration form and instructions. This Spring will be a perfect time to sell unused items. Rain date May 18th.
                                    a.snippet-link(href='docs/events/YardSaleRegistration2024.pdf' target='_blank')
                                        .snippet-link-inner Directory
                .sidebar-right
                    include ./includes/sidebar-right.pug
            include ./includes/footer.pug