doctype html
html(lang="en" color-mode="lite")
    head
        - const home = true
        - const desc = "Discover the Raritan Public Library online to explore information on books, digital resources, media, and more."
        include ./includes/_head.pug
    body
        //include ./includes/access.pug
        div.body
            include ./includes/header.pug
            main.main
                +alert("info")
                    span Raritan Public Library will be closed on <b>Holiday</b> in observance of <b>Holiday</b>.
                .hero
                    each v, i in ['test-hero', 'two', 'three', 'four', 'X']
                        picture.hero-slide
                            source(srcset=`./img/hero/${v}.png?as=webp` alt="" type="image/webp")
                            img(src=`./img/hero/${v}.png?as=jpeg` alt="" type="image/jpeg")
                    .hero-nav-prev: include ./img/icons/caret-left.svg
                    .hero-nav-next: include ./img/icons/caret-right.svg
            //include ./includes/footer.pug