<!DOCTYPE html>
html(lang="en")
    head
        - var home = true
        - var desc = "Discover the Raritan Public Library online to explore information on books, digital resources, media, and more."
        include ./includes/_head.pug
    body.body
        include ./includes/header.pug
        main.main
            .sidebar-left
                include ./includes/calendar.pug
            .center
                include ./includes/alert.pug
                .slideshow
                    each img in [1,2,3,4,5]
                        picture
                            source.slideshow-img(media="(min-width:500px)" srcset=`url:./img/slideshow/${img}.png?as=webp`)
                            img.slideshow-img(src=`url:./img/slideshow/480/${img}.png?as=webp` alt=`Slideshow image ${img}`)
                h1.welcome Welcome
                p.text.spacer-plus Welcome to the Raritan Public Library! Explore our website to find out information on our books, graphic novels, e-books and other digital resources, magazines, videos, DVDs, recorded books, CDs, museum pass programs, and our policies. For books not available in our library we also offer an inter-library loan service. In addition, we sponsor many activities such as book clubs for adults and teens, story times for children, movie nights and many educational and entertaining programs. We encourage you to visit our library to see its rustic and historical features. The Raritan Public Library, once the Frelinghuysen Homestead, is registered as a historic site. The carpeting and window treatments are designed to match the time period in which the structure was built. We also feature a museum dedicated to the Raritan WWII Marine war hero Sgt. John Basilone. So come curl up with a good book in our cozy library. We look forward to seeing you!
                hr.hr
                h2 COVID-19 Information
                p.text.spacer-plus Until Raritan Public Library can fully reopen under normal conditions, the Library will offer limited services during limited hours of operation while keeping safe and hygienic protocols for its patrons and staff. For the safety of all, we expect and greatly appreciate all people that enter our facility to adhere to the guidelines outlined on our #[a.link(href="./covid-19") COVID-19 guidelines page].
                p.text If you are interested in registering for a COVID-19 vaccine, we can help set up an appointment for you. Please note that you must have an email address to register online. If you have no email address, call #[b 1-855-568-0545] to register over the phone.
                hr.hr
                h2.h-nospacer Latest News
                p.comment-big.text-center Please visit our #[a.comment-big-link(href="./covid-19") News page] for a list of all previous news posts.
                .news
            .sidebar-right
                include ./includes/contact.pug
                include ./includes/hours.pug
        include ./includes/footer.pug