doctype html
html(lang="en" color-mode="lite")
    head
        - const title = "Employment Opportunities"
        - const desc = "Discover full-time and part-time employment opportunities at Raritan Public Library."
        include ./includes/_head.pug
    body
        include ./includes/ga.pug
        include ./includes/access.pug
        div.body
            include ./includes/header.pug
            main.main
                .sidebar-left
                    include ./includes/sidebar-left.pug
                .center
                    h1.h1-sm Employment Opportunities
                    p.text.text-center Currently, there are no positions open at Raritan Public Library at this time.
                    p.text.text-center.spacer-plus Please check back on this page in the future to apply for for new positions.
                    //-
                        p.text.text-center All current job openings at Raritan Public Library are listed below.
                        p.text.text-center Please refer to a posting's full position details in order to apply for the listed position.
                        p.text.text-center.spacer-plus Please #[a.link(href="/contact") contact us] if you have any questions or concerns regarding the open positions.
                        hr.hr
                        h2.h2-sm.left.spacer-none Full-Time Youth Services Library Assistant
                        p.comment-date.spacer-plus Friday, June 22nd, 2022
                        p.text The Raritan Public Library seeks a friendly, enthusiastic and energetic professional to oversee our children's department. This is a full-time exempt position with 35 hours per week with a starting salary commensurate with qualifications and experience.
                        br
                        p.text A brief summary of duties include planning and implementing youth and family programs, including storytimes, passive programs and hiring outside performers and vendors that foster early childhood and family literacy.
                        br
                        p.text All applicants must have a Bachelor's degree and three years of professional experience working in a public library.    
                        a.snippet-link(href="docs/job_youth-director_202207.pdf" target="_blank" rel="noopener")
                            .snippet-link-inner Full position details
                .sidebar-right
                    include ./includes/sidebar-right.pug
            include ./includes/footer.pug