extends ./templates/default.pug

block meta
    - const title = "Work With Us"
    - const desc = "Discover full-time and part-time employment opportunities at Raritan Public Library."

block content
    //-.hero
        .hero-content#hero-content
            picture.hero-static
                source(srcset=`./img/hero/five.png?as=webp` alt="" type="image/webp")
                img(src=`./img/hero/five.png` alt="" type="image/png")
    .content
        h1.center Work With Us
        p.center Currently, there are no positions open at Raritan Public Library at this time.
           p.center.spacer-plus Please check back on this page in the future to apply for for new positions.
           div.action: a(href="/") Return to the homepage
        //- p.center All current job openings at Raritan Public Library are listed below.
            p.center Please refer to a posting's full position details in order to apply for the listed position.
            p.center.spacer-plus Please #[a.link(href="/contact") contact us] if you have any questions or concerns regarding the open positions.
            br
            h2.h2-alt Full-Time Youth Services Library Assistant
            p.comment Friday, June 22nd, 2022
            p The Raritan Public Library seeks a friendly, enthusiastic and energetic professional to oversee our children's department. This is a full-time exempt position with 35 hours per week with a starting salary commensurate with qualifications and experience.
            p A brief summary of duties include planning and implementing youth and family programs, including storytimes, passive programs and hiring outside performers and vendors that foster early childhood and family literacy.
            p All applicants must have a Bachelor's degree and three years of professional experience working in a public library.    
            div.action-nocenter: a(href="" target="_blank" rel="noopener") Full position details