extends ./templates/default.pug

block meta
    - const title = "Work With Us"
    - const desc = "Discover full-time and part-time employment opportunities at Raritan Public Library."

block content
    //-.hero
        .hero-content#hero-content
            picture.hero-static
                source(srcset=`./img/hero/five.png?as=webp` alt="" type="image/webp")
                img(src=`./img/hero/five.png` alt="" type="image/png")
    .content
        h1 Work With Us
        //- p.center Currently, there are no positions open at Raritan Public Library at this time.
            p.center.spacer-plus Please check back on this page in the future to apply for for new positions.
            .action: a(href="/") Return to the homepage
        p.spacer-plus All current job openings at Raritan Public Library are listed below. Please refer to a posting's full position details in order to apply for the listed position. Please #[a.link(href="/contact") contact us] if you have any questions or concerns regarding the open positions.
        br
        h2.h2-alt Part-Time Library Assistant
        p.comment Thursday, June 20nd, 2024
        p The Raritan Public Library is seeking a Part-Time Library Assistant to staff our Circulation Desk. The position is for approximately 20 hours per week. We have flexibility with scheduling, but the position requires working one evening per week and one Saturday per month.
        p A brief summary of duties include assisting patrons with the circulation process, sorting and shelving library materials, and performing general office tasks such as answering the phone, photocopying, downloading,and scanning materials.
        p All applicants must have previous experience in an educational, retail setting, or customer service environment is required.
        .action-nocenter: a(href="docs/library-assistant_240620.pdf" target="_blank" rel="noopener") Full position details