doctype html
html(lang="en" color-mode="lite")
    head
        - const title = "Programs for Kids"
        - const desc = "Discover exclusive programs for your children and teens, only at Raritan Public Library."
        include ./includes/_head.pug
    body
        include ./includes/access.pug
        div.body
            include ./includes/header.pug
            main.main
                .sidebar-left
                    include ./includes/sidebar-left.pug
                .center
                    h2.h2-fo Programs for Kids
                    //-p.text.text-center Currently there are no Children's programs scheduled at Raritan Public Library.
                    p.text.text-center Read our Children's Newsletter for #[a.link(href=`./docs/kids-newsletter_${newsShort}.pdf` target="_blank") #{newsMonth}] here.
                    p.text.text-center To sign up for events, please use a provided sign-up form, or call us at #[b (908) 725-0413] during our open hours.
                    hr.hr
                    .kids
                .sidebar-right
                    include ./includes/sidebar-right.pug
            include ./includes/footer.pug