doctype html
html(lang="en" color-mode="lite")
    head
        - const title = "NJ Makers Day"
        - const desc = "Explore activities offered by the Raritan Public Library for NJ Makers Day."
        include ./includes/_head.pug
    body
        include ./includes/access.pug
        div.body
            include ./includes/header.pug
            main.main
                .sidebar-left
                    include ./includes/sidebar-left.pug
                .center
                    h1.h1-sm.spacer-none NJ Makers Day 2022
                    p.comment-date-xl.text-center.spacer-plus Saturday, March 26th, 10:30 AM - 2:30 PM
                    p.text.spacer-plus Raritan Public Library is excited to participate in this year's NJ Makers Day. Explore this page to learn more about the various activities we will be offering to our patrons.
                    hr.hr
                    +makers-event(
                        "How to Podcasting with Barry Gould",
                        "podcast", "A microphone on a stand",
                        "11:00AM - 12:30PM", "Community Room", "Adults only", "Call the library to register",
                        `Join Podcaster Barry Gould from UpBeat NewsRadio to learn a bit about what goes into the process of podcasting. Observe a live interview, then watch Barry demonstrate how the editing process is done and what software he uses. You will be able to listen to the Podcast online once he publishes it.`,
                        [{desc: "UpBeat NewsRadio", href: "https://anchor.fm/barry-drucker-unr"},
                        {desc: "Listen on Spotify", href: "https://open.spotify.com/show/04lXMF1I6pO4Rh30Oj2l5U"}])
                    +makers-event(
                        "Game Design Crash Course",
                        "game-design", "A blue-colored orthographic render of a video game controller among other widgets",
                        "1:00PM - 2:30PM", "Community Room", "Ages 10+", "Call the library to register",
                        `Join Anesha Santhanam from Likeable STEM to learn how to create your very own video games! Using Scratch and Python, explore how to develop games for players and learn how to think like a game designer.`)
                    +makers-event(
                        "3D Printer Demos",
                        "3d-printing", "A red-colored 3D printer",
                        "10:30AM - 2:30PM", "Audiobook Room", "All ages", "Online registration only (3 slots left)",
                        `Join IT Specialist Spencer Gunning in a 3D Printing seminar that covers the basics of bringing 3D models to life. Request the printing of any 3D object, and stick around to watch the live demonstration of your model get printed by our 3D printing machine! Sign up quickly as space is limited for this activity!`,
                        [{desc: "Sign-up form", href: "https://forms.gle/HZ7gYGF2ThgGJJU5A"}])             
                    +makers-event(
                        "Button Make & Take",
                        "buttons", "A collage of various buttons with a button maker",
                        "11:00AM - 2:00PM", "Audiobook Room", "All ages", "Drop-in / no registration required",
                        `Patrons can stop by to create or pick out a button design and take it home with them after they are finished. We will have a variety of templates on hand you can choose from or you can choose to turn your own picture into a button.`)
                    +makers-event(
                        "Learn with Botley",
                        "botley", "Botley the Robot",
                        "10:30AM - 2:00PM", "Rose Pacifico Children's Room", "Ages 5+", "Drop-in / no registration required",
                        `Introduce your children to the foundational ideas behind computer coding with Botley the Robot. Increase your child's critical thinking and problem solving skills by helping Botley tackle an obstacle course.`)
                .sidebar-right
                    include ./includes/sidebar-right.pug
            include ./includes/footer.pug