<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link#fav-light(rel="icon" href="/img/favicon/light.png" type="image/png")
        link#fav-dark(rel="icon" href="/img/favicon/dark.png" type="image/png")
        link(rel="stylesheet", href="/stylus/main.styl")
        script(src="/js/news.js")
        title News &ndash; Raritan Public Library
    body.body
        include /includes/header.pug
        main.main
            .sidebar-left
                include /includes/calendar.pug
            .center
                h1.h-spacer-minus News
                .news
            .sidebar-right
                include /includes/contact.pug
                include /includes/hours.pug
        include /includes/footer.pug