<!DOCTYPE html>
html(lang="en")
    head
        include ./includes/_head.pug
        title News &ndash; Raritan Public Library
    body.body
        include ./includes/header.pug
        main.main
            .sidebar-left
                include ./includes/calendar.pug
            .center
                h1.h-spacer-minus News
                .news
            .sidebar-right
                include ./includes/contact.pug
                include ./includes/hours.pug
        include ./includes/footer.pug