<!DOCTYPE html>
html(lang="en" color-mode="lite")
    head
        - const title = "News"
        - const desc = "Discover all the latest news happening now, only at Raritan Public Library."
        include ./includes/_head.pug
    body
        include ./includes/access.pug
        div.body
            include ./includes/header.pug
            main.main
                .sidebar-left
                    include ./includes/calendar.pug
                .center
                    h1 News
                    p.text.text-center Read our #[a.link(href=`./docs/newsletter${newsShort}-2.pdf` target="_blank") #{newsMonth} Newsletter] here.
                    hr.hr
                    .news
                .sidebar-right
                    include ./includes/contact.pug
                    include ./includes/hours.pug
            include ./includes/footer.pug