extends ./templates/default.pug

block meta
    - const title = "Museum Passes"
    - const desc = "Discover exclusive museum passes made available to patrons by the Raritan Public Library."

block content
    //-.hero
        .hero-content#hero-content
            picture.hero-static
                source(srcset=`./img/hero/five.png?as=webp` alt="" type="image/webp")
                img(src=`./img/hero/five.png` alt="" type="image/png")
    .content
        h1.center Museum Passes
        p.center Museum passes are currently unavailable to all patrons until further notice. Please check this page to see when museum passes become available.
        .action: a(href="/") Return to the homepage
        //- p Museum passes made available by the Raritan Public Library require patron status. If you are a patron of the Library, or are looking to register for patron status, please #[a.link(href="/contact") contact us] for more information on how to get access to these special offers.
            br
            +pass("Thomas Edison Center", "edison-center",
                "Edison, NJ",
                "4 adults / 2 adults + 4 children",
                "Science Park",
                "https://www.menloparkmuseum.org/")
                span Learn about the groundbreaking innovation of New Jersey's own Thomas Edison as you enjoy a fully guided tour of the museum, or enjoy a walk through the Edison State Park's nature trail.
            +pass("Eastern State Penitentiary", "esp",
                "Philadelphia, PA",
                "6 people",
                "National Historic Place",
                "https://www.easternstate.org/")
                span Admission includes "The Voices of Eastern State" Audio Tour, narrated by actor Steve Buscemi; award-winning exhibits on mass incarceration, #[b The Big Graph] and #[b Prisons Today]; history exhibits; and a critically acclaimed series of artist installations.
            +pass("Red Mill Museum Village", "redmill",
                "Clinton, NJ",
                "2 adults + 2 children",
                "National Historic Place",
                "https://theredmill.org/",)
                span Explore 12 historic buildings with a collection of 40,000 artifacts and learn about the social, agricultural and industrial heritage of our area.
            +pass("USGA Golf Museum", "golf",
                "Far Hills, NJ",
                "4 people",
                "Sports History Museum",
                "https://www.usga.org/content/usga/home-page/usga-golf-museum.html")
                span The greatest champions and moments in American golf history come alive through engaging exhibits. Stop by the Library to reserve your pass, which will admit up to four people!
            +pass("Battleship New Jersey", "battleship",
                "Camden, NJ",
                "2 adults + 3 children",
                "Military History Museum",
                "https://www.battleshipnewjersey.org/")
                span From the moment you step on board the Battleship New Jersey, you will realize that this is a museum where visitors can take an active role. Sit in the admiral's seat, stretch out on one of the sailor's bunks, or climb into the 16" gun turret.
            +pass("Morris Museum", "morris",
                "Morristown, NJ",
                "2 adults + 3 children",
                "Art and Science Museum",
                "https://morrismuseum.org/")
                span A Smithsonian affilate museum with kid-friendly exhibitions and rich multicultural art installations.