<!DOCTYPE html>
html(lang="en" color-mode="lite")
    head
        - const title = "Museum Passes"
        - const desc = "Discover exclusive museum passes made available to patrons by the Raritan Public Library."
        include ./includes/_head.pug
    body
        include ./includes/access.pug
        div.body
            include ./includes/header.pug
            main.main
                .sidebar-left
                    include ./includes/calendar.pug
                .center
                    .alert-attention
                        .alert-attention-logo: include ./img/icons/alert.svg
                        .alert-attention-text
                            .alert-attention-title Attention
                            .alert-attention-desc Due to the outbreak of the novel coronavirus (COVID-19), please visit the websites of the following museums for details on their operating status and varied hours of operation.
                    h1 Museum Passes
                    p.text.spacer-plus Museum passes made available by the Raritan Public Library require patron status. If you are a patron of the Library, or are looking to register for patron status, please #[a.link(href="./contact") contact us] for more information on how to get access to these special offers.
                    .snippet: .snippet-body
                        a(href="https://www.easternstate.org/" target="_blank" rel="noopener")
                            picture
                                source(srcset="./img/passes/esp.png?as=webp" type="image/webp")
                                img.snippet-img(src="./img/passes/esp.png?as=jpeg" alt="Eastern State Penitentiary logo" type="image/jpeg")
                        h2.h2-sm.spacer-plus.left Eastern State Penitentiary
                        p.text Adult patrons are now able to borrow passes to the #[a.link(href="https://www.easternstate.org/" target="_blank" rel="noopener") Eastern State Penitentiary] in #[a.link(href="https://www.google.com/maps/dir//Eastern+State+Penitentiary,+2027+Fairmount+Ave,+Philadelphia,+PA+19130/@39.9683153,-75.2427047,12z/data=!4m8!4m7!1m0!1m5!1m1!1s0x89c6c7c939597ebb:0x6f1ed8c0e12235ad!2m2!1d-75.1726652!2d39.9683254" target="_blank" rel="noopener") Philadelphia, PA]. This grants admission to free daytime tours to this historic site for up to six people. Admission includes "The Voices of Eastern State" Audio Tour, narrated by actor Steve Buscemi; award-winning exhibits on mass incarceration, #[i The Big Graph] and #[i Prisons Today]; history exhibits; and a critically acclaimed series of artist installations. Please call the Library for more information. Sign up is required.
                    .snippet: .snippet-body
                        a(href="https://theredmill.org/" target="_blank" rel="noopener")
                            picture
                                source(srcset="./img/passes/redmill.png?as=webp" type="image/webp")
                                img.snippet-img(src="./img/passes/redmill.png?as=jpeg" alt="Red Mill Museum Village logo" type="image/jpeg")
                        h2.h2-sm.spacer-plus.left Red Mill Museum Village
                        p.text Patrons can now visit the #[b Red Mill Museum Village] in #[a.link(href="https://www.google.com/maps/place/Red+Mill+Museum+Village/@40.6361664,-74.9149792,17z/data=!3m1!4b1!4m5!3m4!1s0x89c38b04d9d17085:0xfaca84d9c8b20d5a!8m2!3d40.6361372!4d-74.9127676" target="_blank" rel="noopener") Clinton, NJ] for free. The Red Mill Pass is good for an entire family: 2 adults and children members on any non-special event day. Explore 12 historic buildings with a collection of 40,000 artifacts and learn about the social, agricultural and industrial heritage of our area.
                    .snippet: .snippet-body
                        a(href="https://www.usga.org/content/usga/home-page/usga-golf-museum.html" target="_blank" rel="noopener")
                            picture
                                source(srcset="./img/passes/golf.png?as=webp" type="image/webp")
                                img.snippet-img(src="./img/passes/golf.png?as=jpeg" alt="USGA Golf Museum logo" type="image/jpeg")
                        h2.h2-sm.spacer-plus.left USGA Golf Museum
                        p.text Patrons can now visit the #[b USGA Golf Museum] in #[a.link(href="https://www.google.com/maps/place/United+States+Golf+Association+(USGA)/@40.666603,-74.6157956,17z/data=!3m1!4b1!4m5!3m4!1s0x89c3963efd0fab3b:0x776607f06312ecca!8m2!3d40.666705!4d-74.6140485" target="_blank" rel="noopener") Far Hills, NJ] free of charge&mdash; home to the world's premiere collection of golf artifacts and memorabilia. The greatest champions and moments in American golf history come alive through engaging exhibits. Stop by the Library to reserve your pass, which will admit up to 4 people!
                    .snippet: .snippet-body
                        a(href="https://www.battleshipnewjersey.org/" target="_blank" rel="noopener")
                            picture
                                source(srcset="./img/passes/battleship.png?as=webp" type="image/webp")
                                img.snippet-img(src="./img/passes/battleship.png?as=jpeg" alt="Battleship New Jersey logo" type="image/jpeg")
                        h2.h2-sm.spacer-plus.left Battleship New Jersey
                        p.text From the moment you step on board the #[b Battleship New Jersey], you will realize that this is a museum where visitors can take an active role. Sit in the admiral's seat, stretch out on one of the sailor's bunks, or climb into the 16" gun turret. Battleship New Jersey is located in #[a.link(href="https://www.google.com/maps/place/Battleship+New+Jersey/@39.9394484,-75.1352674,17z/data=!3m1!4b1!4m5!3m4!1s0x89c6c8ea44f01b6b:0x98ae3e7c1a4a0ab7!8m2!3d39.9394484!4d-75.1330734" target="_blank" rel="noopener") Camden, NJ]. Through the library, two adults and up to three children can visit the Battleship New Jersey free of charge!
                    .snippet: .snippet-body
                        a(href="https://morrismuseum.org/" target="_blank" rel="noopener")
                            picture
                                source(srcset="./img/passes/morris.png?as=webp" type="image/webp")
                                img.snippet-img(src="./img/passes/morris.png?as=jpeg" alt="Morris Museum logo" type="image/jpeg")
                        h2.h2-sm.spacer-plus.left Morris Museum
                        p.text Adult patrons can now participate in our museum pass program to the #[b Morris Museum] in #[a.link(href="https://www.google.com/maps/place/Morris+Museum/@40.7960409,-74.4504904,17z/data=!3m2!4b1!5s0x89c3a661642669ed:0x388bebf137c65eb9!4m5!3m4!1s0x89c3a6616461f9fb:0x20f510000afe5846!8m2!3d40.7960409!4d-74.4482964" target="_blank" rel="noopener") Morristown, NJ]. The museum is a Smithsonian affilate, which favorably impacts any upcoming exhibits. The pass is available for up to two adults and three children at no charge. Please schedule your pass up to one month in advance, as these are offered on a first-come first-served basis.
                .sidebar-right
                    include ./includes/contact.pug
                    include ./includes/hours.pug
            include ./includes/footer.pug