doctype html
html(lang="en" color-mode="lite")
    head
        - const title = "Policies"
        - const desc = "Read information regarding our in-house policies at the Raritan Public Library."
        include ./includes/_head.pug
    body
        include ./includes/access.pug
        div.body
            include ./includes/header.pug
            main.main
                .sidebar-left
                    include ./includes/calendar.pug
                .center
                    h1 Policies
                    p.text-bold.spacer-plus.text-center Looking for our COVID-19-related policies? Read about them on our #[a.link(href="covid-19") COVID-19 guidelines page].
                    hr.hr
                    h2.h2-sm.left.spacer-plus#standards Standards
                    p.text The following summarizes provisions of the Raritan Public Library Standards of Acceptable Behavior. This summary is provided for your convenience; however, the full Standards document which includes borrowing privileges, loan periods, and overdue fines and fees #[a.link(href="docs/policies.pdf" target="_blank" rel="noopener") can be found here].
                    br
                    p.text-bold.text-center To maintain personal safety and preserve a peaceful and pleasant environment, please do not:
                    br
                    ol
                        li.text-list Leave any child under the age of 10 without adult supervison. If a child is left unattended at Library closing time, the librarian will attempt to contact the parents. If, after 15 minutes, the child has not been picked up, the Raritan Police may be called to assist.
                        li.text-list Smoke, use of alcohol or any drug constituting a controlled dangerous substance on Library property or display behavior of being intoxicated in the Library.
                        li.text-list Fail to wear proper attire, including shoes and shirts. Patrons whose bodily hygiene is offensive as to constitute a nuisance or health threat to other patrons shall be requested to leave the Library.
                        li.text-list Bring animals, insects or other living organisms into the Library, except service animals to assist patrons with disabilities.
                        li.text-list Harass Library patrons or staff, verbally, physically or sexually.
                        li.text-list Carry any instrument that could reasonably and commonly be classified as a weapon or a dangerous instrument, or could be reasonably used as means of aggression or defense against another, into or on the property of the Library, unless authorized by law to do so. Any person authorized to carry a weapon must notify Library staff of that fact.
                        li.text-list Engage in any behavior that presents an imminent danger to the life and/or safety of others, including intentional non-emergency activation of alarmed exits or fire alarms.
                        li.text-list Misuse the restrooms. No person shall use the restroom facilities other than for ordinary and usual use. Bathing and laundering clothes are specifically not permitted.                
                    h2.h2-sm.left.spacer-plus#computers Computers / Internet Use
                    p.text Time limit on the library's computers is 1 hour per day, per person. Patrons are requested to sign a log book with their name, town of residency, and time of day.
                    br
                    p.text Library staff reserves the right to terminate any session due to inappropriate content.
                    br
                    p.text Any user under the age of 18 must have a parent/guardian's signature on the Children's Registration Form for Internet Access. The signed form is kept on file at the circulation desk for future reference.
                    br
                    p.text.spacer-plus Adult patrons can borrow a laptop computer within the Library premises, provided they are a patron in good standing and presents a photo ID. The patron must sign an agreement form explaining the lending policies before borrowing. Patrons who bring in their own computer, can ask for a Wi-Fi password. Sign-in is also required.
                    h2.h2-sm.left.spacer-plus#dvds DVD Policy
                    p.text You must be 18 years of age to check out DVDs from adult collection. Children can borrow DVDs from our juvenile collection. 
                    br
                    p.text You also must either present a library card when checking out or a proper form of ID such as a driver's license.
                    br
                    p.text There is a limit of 3 DVDs per family, and a loan period of 7 days. DVDs may only be renewed once.
                    br
                    p.text Fines are $.50 per day per video, after the 7 day rental period.
                    br
                    p.text.spacer-plus All overdue materials must be returned before any videos can be checked out.
                    h2.h2-sm.left.spacer-plus Miscellaneous
                    h3.h3-sm.left#printing Printing
                    br
                    p.text-bold.inline Black and white or text printout #[p.text.inline - $.15 per page]
                    p.text-bold.inline Color images #[p.text.inline - $.50 per page]
                    .spacer-plus
                    h3.h3-sm.left#ill Inter-Library Loan (ILL)
                    br
                    p.text ILL books and audiobooks can be borrowed for 3 weeks. Renewals are not guaranteed and only made by special request. ILL requests are subject to the availability from other libraries.
                    .spacer-plus
                    h3.h3-sm.left#renewals Renewals
                    br
                    p.text Renewals can be done in person, by phone (phone messages do not apply), or online for all materials. Renewals cannot be made on materials that are on hold for other patrons. Only one renewal per item applies.
                    .spacer-plus
                    h3.h3-sm.left#holds Holds
                    br
                    p.text Holds can be placed on books, audiobooks, CDs, DVDs and magazines for 3 days. Holds can be done by phone, in person, or online. On the 4th day, the held material will go back into circulation if it has not been picked up.
                .sidebar-right
                    include ./includes/contact.pug
                    include ./includes/hours.pug
                    include ./includes/advert.pug
            include ./includes/footer.pug