<!DOCTYPE html>
html(lang="en" color-mode="lite")
    head
        - const title = "Porchside Pickup"
        - const desc = "Read information regarding our Porchside Pickup instructions at the Raritan Public Library."
        include ./includes/_head.pug
    body
        include ./includes/access.pug
        div.body
            include ./includes/header.pug
            main.main
                .sidebar-left
                    include ./includes/calendar.pug
                .center
                    h1.h1-sm Porchside Pickup
                    p.text-bold.spacer-plus.text-center Looking for our COVID-19-related policies? Read about them on our #[a.link(href="covid-19") COVID-19 guidelines page].
                    hr.hr
                    h2 Instructions
                    p.comment-big.text-center These instructions may be subject to change due to inclement weather or other events.
                    .spacer-plus
                    ol.ol
                        li.text-list Visit our online #[a.link(href="http://catalog.raritanlibrary.org:8080/" target="_blank" rel="noopener") catalog] to select or put on hold your desired materials (a link to it is on the right hand column of this page). If this is your first visit to our online catalog, click the "create account" link in the upper right hand corner of the page.
                        li.text-list Call the Library at #[b (908) 725-0413] to confirm your selections and the staff will retrieve the materials for you.
                        li.text-list Give the staff your Library Card number and make sure to bring your card when you pick up the items. The staff will call you back to discuss a designated time for pick-up.
                        li.text-list Come to the right side of the front porch of the Library and show your Library card through the window.
                        li.text-list Your bag will be waiting for you on the bench with a tag revealing the last 4 digits of your card number.
                    p.text-bold.text-center We greatly appreciate your patience during this time and greatly look forward to serving you soon!
                .sidebar-right
                    include ./includes/contact.pug
                    include ./includes/hours.pug
            include ./includes/footer.pug