doctype html
html(lang="en" color-mode="lite")
    head
        - const title = "Programs"
        - const desc = "Discover exclusive programs and upcoming events, only at Raritan Public Library."
        include ./includes/_head.pug
    body
        include ./includes/access.pug
        div.body
            include ./includes/header.pug
            main.main
                .sidebar-left.sidebar-craft
                    h3.hsidebar-event Adult Craft Projects
                    p.text.spacer-plus View our previous craft projects and see the great job done by our patron crafters!
                    .crafts
                        +craft("Winter Wreath", "winter", 3)
                        +craft("Rag Candle Wreath", "rag", 3)
                        +craft("Patriotic Birdhouse Wreath", "birdhouse", 3)
                .center
                    h2.h2-fo Programs
                    p.text.text-center To sign up for events, please use a provided sign-up form, or call us at #[b (908) 725-0413] during our open hours.
                    hr.hr
                    .calendar
                        h2.h2.spacer-plus#calendar-month
                        .calendar-days
                            for dotw in dotws
                                .calendar-dotw
                                    p.dotw #{dotw}
                                    p.dotw-mobile #{dotw.slice(0, 3)}
                        .calendar-weeks#calendar-weeks
                .sidebar-right
                    include ./includes/sidebar-right.pug
            include ./includes/footer.pug