<!DOCTYPE html>
html(lang="en" color-mode="lite")
    head
        - const noindex = true
        - const title = "Site Map"
        - const desc = "A site map for Raritan Public Library."
        include ./includes/_head.pug
    body
        include ./includes/access.pug
        div.body
            include ./includes/header.pug
            main.main
                .sidebar-left
                    include ./includes/calendar.pug
                .center 
                    h1.spacer-plus Site Map
                    .sitemap-center
                        .sitemap-l
                            h2 Our Library
                            .spacer-plus
                            h3 Books
                            ul.sitemap-list
                                li #[a.sitemap-link(href="/bookclub") Book Club]
                                li #[a.sitemap-link(href="http://raritanpubliclibrarybooks.blogspot.com/" target="_blank" rel="noopener") Books Blog]
                                li #[a.sitemap-link(href="http://raritanlibraryteenblog.blogspot.com/" target="_blank" rel="noopener") YA/Teen Blog]
                                li #[a.sitemap-link(href="https://sites.google.com/view/childrensroom/home" target="_blank" rel="noopener") Children's Room]
                            .spacer-plus
                            h3 Things to Do
                            ul.sitemap-list
                                li #[a.sitemap-link(href="/programs") Programs]
                                li #[a.sitemap-link(href="/kids") Programs for Kids]
                                li #[a.sitemap-link(href="/resources") Resources]
                                li #[a.sitemap-link(href="/passes") Museum Passes]
                                li #[a.sitemap-link(href="/makersday") NJ Makers Day]
                            .spacer-plus
                            h3 Our History
                            ul.sitemap-list
                                li #[a.sitemap-link(href="/history") History Page]
                                li #[a.sitemap-link(href="http://www.raritan-online.com/jb-online-menu.htm" target="_blank" rel="noopener") Basilone Archives]
                            .spacer-plus
                            h3 About Us
                            ul.sitemap-list
                                li #[a.sitemap-link(href="/news") News]
                                li #[a.sitemap-link(href="/contact") Contact Information]
                                li #[a.sitemap-link(href="/policies") Library Policies]
                                li #[a.sitemap-link(href="/gallery") The Gallery]
                                li #[a.sitemap-link(href="/board") Board of Trustees]
                                li #[a.sitemap-link(href="/privacy") Privacy &amp; Terms]
                            .spacer-plus
                            h3 COVID-19
                            ul.sitemap-list
                                li #[a.sitemap-link(href="/covid-19") COVID-19 Information]
                                li #[a.sitemap-link(href="/porchside-pickup") Porchside Pickup]
                        .sitemap-r
                            h2 More Links
                            .spacer-plus
                            h3 Federal
                            ul.sitemap-list
                                li #[a.sitemap-link(href="http://www.raritanboro.org/" target="_blank" rel="noopener") Raritan Borough]
                                li #[a.sitemap-link(href="https://www.co.somerset.nj.us/" target="_blank" rel="noopener") Somerset County]
                                li #[a.sitemap-link(href="https://www.njleg.state.nj.us/" target="_blank" rel="noopener") NJ Legislature]
                                li #[a.sitemap-link(href="https://www.house.gov/" target="_blank" rel="noopener") US House of Representatives]
                                li #[a.sitemap-link(href="https://www.senate.gov/" target="_blank" rel="noopener") US Senate]
                            .spacer-plus
                            h3 Education
                            ul.sitemap-list
                                li #[a.sitemap-link(href="https://www.cia.gov/the-world-factbook/" target="_blank" rel="noopener") CIA World Factbook]
                                li #[a.sitemap-link(href="https://www.epermittest.com/new-jersey/nj-practice-permit-test" target="_blank" rel="noopener") DMV Practice Test]
                                li #[a.sitemap-link(href="https://www.epermittest.com/new-jersey/drivers-education" target="_blank" rel="noopener") Driver's Education]
                                li #[a.sitemap-link(href="https://www.goodcall.com/scholarships/" target="_blank" rel="noopener") GoodCall Scholarship Engine]
                            .spacer-plus
                            h3 Libraries &amp; Museums
                            ul.sitemap-list
                                li #[a.sitemap-link(href="https://www.loc.gov/" target="_blank" rel="noopener") Library of Congress]
                                li #[a.sitemap-link(href="https://www.nypl.org/" target="_blank" rel="noopener") New York Public Library]
                                li #[a.sitemap-link(href="https://www.statueofliberty.org/ellis-island/" target="_blank" rel="noopener") Ellis Island]
                                li #[a.sitemap-link(href="https://www.si.edu/" target="_blank" rel="noopener") Smithsonian Institute]
                                li #[a.sitemap-link(href="https://www.metmuseum.org/" target="_blank" rel="noopener") Metropolitan Museum Art]
                            .spacer-plus
                            h3 Miscellaneous
                            ul.sitemap-list
                                li #[a.sitemap-link(href="https://www.pbs.org/" target="_blank" rel="noopener") PBS]
                                li #[a.sitemap-link(href="https://sites.google.com/site/ls62344/" target="_blank" rel="noopener") Resource Somerset]
                                li #[a.sitemap-link(href="http://www.ala.org/yalsa/booklistsawards/booklistsbook" target="_blank" rel="noopener") YALSA's Book Awards]
                                li #[a.sitemap-link(href="https://somerset.maps.arcgis.com/home/index.html" target="_blank" rel="noopener") Somerset County GIS Information]
                                li #[a.sitemap-link(href="https://www.fueleconomy.gov/" target="_blank" rel="noopener") Fuel Economy Guide]
                .sidebar-right
                    include ./includes/contact.pug
                    include ./includes/hours.pug
                    include ./includes/advert.pug
            include ./includes/footer.pug