doctype html
html(lang="en" color-mode="lite")
    head
        - const noindex = true
        - const title = "Site Map"
        - const desc = "A site map for Raritan Public Library."
        include ./includes/_head.pug
    body
        include ./includes/access.pug
        div.body
            include ./includes/header.pug
            main.main
                .sidebar-left
                    include ./includes/sidebar-left.pug
                .center 
                    h1.spacer-plus Site Map
                    .sitemap-center
                        .sitemap-l
                            h2 Our Library
                            .spacer-plus
                            h3 Things to Do
                            ul.sitemap-list
                                +sitemap-link("Programs", "/programs")
                                +sitemap-link("Resources", "/resources")
                                +sitemap-link("Museum Passes", "/passes"   )
                                +sitemap-link("NJ Makers Day", "/makersday")
                            .spacer-plus
                            h3 Our History
                            ul.sitemap-list
                                +sitemap-link("History Page", "/history")
                                +sitemap-link("Basilone Archives", "http://www.raritan-online.com/jb-online-menu.htm")
                            .spacer-plus
                            h3 About Us
                            ul.sitemap-list
                                +sitemap-link("Homepage", "/")
                                +sitemap-link("News", "/news")
                                +sitemap-link("Contact Information", "/contact")
                                +sitemap-link("Library Policies", "/policies")
                                +sitemap-link("The Gallery", "/gallery")
                                +sitemap-link("Board of Trustees", "/board")
                                +sitemap-link("Privacy & Terms", "/privacy")
                            .spacer-plus
                            h3 COVID-19
                            ul.sitemap-list
                                +sitemap-link("COVID-19 Information", "/covid-19")
                                +sitemap-link("Porchside Pickup", "/porchside-pickup")
                        .sitemap-r
                            h2 More Links
                            .spacer-plus
                            h3 Federal
                            ul.sitemap-list
                                +sitemap-link("Raritan Borough", "http://www.raritanboro.org/")
                                +sitemap-link("Somerset County", "https://www.co.somerset.nj.us/")
                                +sitemap-link("NJ Legislature", "https://www.njleg.state.nj.us/")
                                +sitemap-link("US House of Representatives", "https://www.house.gov/")
                                +sitemap-link("US Senate", "https://www.senate.gov/")
                            .spacer-plus
                            h3 Education
                            ul.sitemap-list
                                +sitemap-link("CIA World Factbook", "https://www.cia.gov/the-world-factbook/")
                                +sitemap-link("DMV Practice Test", "https://www.epermittest.com/new-jersey/nj-practice-permit-test")
                                +sitemap-link("Driver's Education", "https://www.epermittest.com/new-jersey/drivers-education")
                                +sitemap-link("GoodCall Scholarship Engine", "https://www.goodcall.com/scholarships/")
                            .spacer-plus
                            h3 Libraries &amp; Museums
                            ul.sitemap-list
                                +sitemap-link("Library of Congress", "https://www.loc.gov/")
                                +sitemap-link("New York Public Library", "https://www.nypl.org/")
                                +sitemap-link("Ellis Island", "https://www.statueofliberty.org/ellis-island/")
                                +sitemap-link("Smithsonian Institute", "https://www.si.edu/")
                                +sitemap-link("Metropolitan Museum Art", "https://www.metmuseum.org/")
                            .spacer-plus
                            h3 Miscellaneous
                            ul.sitemap-list
                                +sitemap-link("PBS", "https://www.pbs.org/")
                                +sitemap-link("Resource Somerset", "https://sites.google.com/site/ls62344/")
                                +sitemap-link("YALSA's Book Awards", "http://www.ala.org/yalsa/booklistsawards/booklistsbook")
                                +sitemap-link("Somerset County GIS Information", "https://somerset.maps.arcgis.com/home/index.html")
                                +sitemap-link("Fuel Economy Guide", "https://www.fueleconomy.gov/")
                .sidebar-right
                    include ./includes/sidebar-right.pug
            include ./includes/footer.pug