<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link#fav-light(rel="icon" href="/img/favicon/light.png" type="image/png")
        style .a {width: 64px; padding: 4px 16px;}
            | .b {font-size: xx-large; padding: 4px 16px; text-decoration: none;}
            | hr {width: 500px;}
        title Unsupported Browser
    body(style="font-size: large; margin: 32px; text-align: center;")
        h1(style="margin-bottom: -8px;") Welcome to Raritan Public Library.
        h2 Our website is no longer supported on your browser.
        p To access this website, please download a secure browser from the list below.
            | <br> We thank you for your continued support!
        table(style="margin: 0 auto; padding: 8px 32px;")
            tbody(style="text-align: left;")
                tr
                    td: img.a(src="img/misc/edge.png")
                    td: a.b(href="https://www.microsoft.com/en-us/edge") #[b Microsoft Edge]
                tr
                    td: img.a(src="img/misc/firefox.png")
                    td: a.b(href="https://www.mozilla.org/en-US/firefox/") #[b Mozilla Firefox]
                tr
                    td: img.a(src="img/misc/chrome.png")
                    td: a.b(href="https://www.google.com/chrome/") #[b Google Chrome]
                tr
                    td: img.a(src="img/misc/opera.png")
                    td: a.b(href="https://www.opera.com/") #[b Opera]
        p If you need assistance from the Library, please contact us by phone
            | <br> at #[b (908) 725-0413], or by email at #[a(href="mailto:raritanlibrary54@aol.com") raritanlibrary54@aol.com].
        hr
        p.copyright © #{new Date().getFullYear()} Raritan Public Library